<mat-toolbar color="primary" class="mat-elevation-z5">
  <span>{{ 'TABLE.BUTTONS.FILTER_BY_COLUMN' | oTranslate }} : {{ attr | oTranslate }}</span>
</mat-toolbar>

<div mat-dialog-content class="dialog-list-container">

  <div fxLayout="column" fxFill class="content-wrapper">

    <mat-form-field fxFlexFill fxFlex class="vertical-padding-16">
      <input matInput #filter placeholder="{{'TABLE.FILTER' | oTranslate}}">
      <span class="icon-btn" matPrefix fxFlexLayout="flex-end">
        <i class="material-icons">search</i>
      </span>
    </mat-form-field>

    <mat-checkbox (change)="onSelectAllChange($event)" [checked]="areAllSelected()" [indeterminate]="isIndeterminate()">
      {{ 'TABLE.FILTER_BY_COLUMN.CHECK_ALL' | oTranslate }}
    </mat-checkbox>

    <mat-list>
      <mat-list-item fxFill *ngFor="let record of listData">
        <mat-checkbox (change)="record.selected = $event.checked" [checked]="record.selected">
          {{ record.value || ('TABLE.FILTER_BY_COLUMN.EMPTY_VALUE' | oTranslate)}}
        </mat-checkbox>
      </mat-list-item>
    </mat-list>

  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button class="mat-primary" [mat-dialog-close]="false">{{ 'CANCEL' | oTranslate | uppercase}}</button>
  <button mat-button class="mat-primary" [mat-dialog-close]="true">{{ 'ACCEPT' | oTranslate | uppercase }}</button>
</mat-dialog-actions>