
.o-list-item {
  padding: 0.4em;
}
/*
.o-list-item-active {
  background-color: #8E0C39;
  color: #FFFFFF;
}
*/

md-list-item {
  cursor: pointer;
 /* will-change: color;
  transition: color $swift-ease-in-duration $swift-ease-in-timing-function;*/
  &.md-active {
    color: #8E0C39;
  }
}
