.o-search {
  position: relative;
  height: 30px;
}

.o-search>.md-icon {
  position: absolute;
  top: 0.15em;
  left: 0.3em;
  color: #8E0C39;
}

.o-search-input {
  height: 25px;
  width: 80%;
  font-size: 15px;
  border: 1px solid #8E0C39;
  border-radius: 20px;
  padding-left: 30px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #8E0C39;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #8E0C39;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #8E0C39;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #8E0C39;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #8E0C39;
}

.o-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.o-list-title {
  font-size: 1.5em;
}
