$mat-checkbox-size-medium: 18px !default;
$_mat-checkbox-mark-stroke-size-medim: 2 / 15 * $mat-checkbox-size-medium !default;

$mat-checkbox-size-small: 16px !default;
$_mat-checkbox-mark-stroke-size-small: 2 / 15 * $mat-checkbox-size-small !default;

.o-table {

  height: 100%;

  .o-table-container {
    &.block-events {
      pointer-events: none;

       > .o-table-body .mat-header-row,
      > .toolbar {
        opacity: .75;
      }
    }

    position: relative;
    margin: 0 .5%;
    overflow-y: auto;

    .toolbar {
      height: 40px;

      .buttons {
        margin: 0 10px 0 4px;
      }

      .table-title {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }

    }

    .o-table-body {
      &:not(.horizontal-scroll) {
        overflow-x: hidden;
      }

      &.horizontal-scroll {
        overflow-x: auto;
        padding-bottom: 16px;

        .mat-header-cell {
          width: 150px;
        }
      }
    }

    .o-table-no-results {
      &.small {
        height: 32px;
      }

      &.medium {
        height: 36px;
      }

      &.large {
        height: 48px;
      }
    }

    .mat-table {
      table-layout: fixed;
      width: 100%;

      &.small {
        tr.mat-row {
          height: 28px;

          td {
            height: 28px;

            > div {
              height: 28px;
              display: flex;
              align-content: center;
              align-items: center;
            }
          }
        }

        .mat-header-row,
        .mat-row {
          .mat-checkbox-inner-container {
            height: $mat-checkbox-size-small;
            width: $mat-checkbox-size-small;

            .mat-checkbox-checkmark-path {
              width: $_mat-checkbox-mark-stroke-size-small;
            }

            .mat-checkbox-mixedmark {
              height: floor($_mat-checkbox-mark-stroke-size-small);
            }
          }

          .mat-cell,
          .mat-header-cell {
            .image-avatar {
              width: 22px;
              height: 22px;
            }

          }
        }

        tr.mat-header-row {
          height: 32px;
          line-height: 32px;
        }
      }

      &.medium {
        tr.mat-header-row {
          height: 40px;
        }

        tr.mat-row {
          height: 36px;

          td {
            height: 36px;

            > div {
              height: 36px;
              display: flex;
              align-content: center;
              align-items: center;
            }
          }
        }

        .mat-header-row,
        .mat-row {
          .mat-cell,
          .mat-header-cell {
            .image-avatar {
              width: 28px;
              height: 28px;
            }
          }

          .mat-checkbox-inner-container {
            height: $mat-checkbox-size-medium;
            width: $mat-checkbox-size-medium;

            .mat-checkbox-checkmark-path {
              width: $_mat-checkbox-mark-stroke-size-medim;
            }

            .mat-checkbox-mixedmark {
              height: floor($_mat-checkbox-mark-stroke-size-medim);
            }
          }
        }
      }

      &.large {
        tr.mat-row {
          td {
            height: 48px;

            > div {
              height: 48px;
              display: flex;
              align-content: center;
              align-items: center;
            }
          }
        }

        tr.mat-header-row {
          //font-size: 24;
          height: 52px;
        }
      }

      .mat-row {
        box-sizing: border-box;
        transition: background-color .2s;

        /* iOS Safari */
        -webkit-touch-callout: none;
        /* Safari */
        -webkit-user-select: none;
        /* Konqueror HTML */
        -khtml-user-select: none;
        /* Firefox */
        -moz-user-select: none;
        /* Internet Explorer/Edge */
        -ms-user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */
        user-select: none;

        &.selected {
          background: #E0E0E0;
        }

        &:last-child {
          border-bottom: none;
        }

        .mat-cell {
          padding: 0 12px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &.empty-cell {
            min-height: 16px;
          }

          .action-cell-renderer {
            cursor: pointer;
          }

          &.o-start {
            text-align: start;
          }

          &.o-center {
            text-align: center;
          }

          &.o-end {
            text-align: end;
          }

          * {
            vertical-align: middle;
          }

          &.o-mat-cell-multiline {
            &:not(.mat-header-cell) {
              padding: 6px 12px;
            }
            overflow: initial;
            white-space: normal;
            text-overflow: unset;
          }

          .image-avatar {
            width: 34px;
            height: 34px;
            margin: 1px auto;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            z-index: 1;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              width: 100%;
              max-width: inherit;
              max-height: inherit;
            }
          }
        }
      }

      .o-action-cell-renderer {
        display: inline-block;
        cursor: pointer;
      }

      .mat-header-cell {
        .column-filter-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
          margin-right: 8px;
          line-height: 1;
          vertical-align: middle;
          height: 100%;
        }

        .mat-sort-header-button {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
        }

        .mat-sort-header-arrow {
          margin-top: auto;
          margin-bottom: auto;
        }

        &:not([o-mat-sort-header]) {
          &.start {
            text-align: left;
          }

          &.center {
            text-align: center;
          }

          &.end {
            text-align: right;
          }
        }

        &[o-mat-sort-header] {
          &.start .mat-sort-header-button {
            text-align: left;
          }

          &.center .mat-sort-header-button {
            text-align: center;
          }

          &.end .mat-sort-header-button {
            text-align: right;
          }
        }

      }

      .mat-cell,
      .mat-header-cell {
        &.mat-column-select {
          width: 18px;
          box-sizing: content-box;
          padding: 0 4px;
        }

      }
    }
  }

  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    visibility: visible;
    opacity: 1;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
    transition: opacity .25s linear;

    .mat-progress-spinner {
      height: 100%;
      left: calc(50% - 50px);
      top: calc(50% - 50px);
    }
  }

  .spinner-container-scrollable {
    position: relative;
  }

  &.o-table-fixed {
    display: flex;

    .o-table-container {
      display: flex;
      flex-direction: column;

    }

    .o-table-body {
      display: flex;
      flex: 1;

      .o-table-overflow {
        flex: 1;
        overflow: auto;
      }
    }
  }
}

.mat-tooltip.o-table-cell-tooltip {
  position: absolute;
  top: -12px;
  word-wrap: break-word;
  max-height: 64px;
  overflow: hidden;
  min-width: 140px;
  text-align: center;
  width: 100%;
}
