.o-table {

  width: 100%;
  height: 100%;
  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  .spinner-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 500;

    visibility: visible;
    opacity: 1;

        -moz-transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
            transition: opacity 0.25s linear;

    path {
      stroke-width: 5px !important;
    }
  }

  .o-table-container {

    display: block;
    max-width: 100%;
    height: 100%;
    /*overflow-x: auto;
    -webkit-overflow-scrolling: touch;*/
    overflow: hidden;
    position: relative;
    margin: 0 0.5%;

    &.disabled {

      .dt-buttons {
        display: none;
      }

      thead {
        tr {
          &::before {
            display: none;
          }
        }
      }

      tbody {
        tr {
          &:not(.group)::before {
            display: none;
          }
          &.selected::before {
            display: none;
          }
          td {
            &.focus {
              outline: none;
            }
          }
        }
      }

      .dataTables_info .select-info {
        display: none;
      }

    }

    &.detail {
      tbody {
        tr:not(.insertRow) {
          td {
            cursor: pointer;
          }
        }
      }
    }

    .dt-buttons {

      margin: 0 10px 0 4px;

      a {
        text-decoration: none;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        display: inline-block;
        margin: 0;

      }
      a:not(.hidden-action-text) {
        padding-right: 8px;
      }
      a:not(.hidden-action-text):not(.disabled):hover {
        border-radius: 4px;
      }

      a.hidden-action-text:not(.disabled):hover {
        border-radius: 50%;
        //padding: 0;
      }

      .dt-button {

        &.active {

          &::after {
            border-radius: 50%;
          }

          & > span {
            font-weight: bold;
          }

        }

        &.disabled {
          cursor: not-allowed;
        }

        &.custom-generic-action {
          &::after {
            font-family: 'Material Icons';
            content: attr(data-icon);
            font-size: 24px;
            line-height: 40px;
            padding: 8px;
          }
        }

        &.generic-action,
        &.custom-generic-action {
          & > span {
            float: right;
            line-height: 40px;
          }
          &.hidden-action-text > span {
            display: none;
          }
        }

        &.generic-action {
          &.generic-action-export {
            display: none;
          }

          &.generic-action-export::before {
            font-family: 'Material Icons';
            content: "file_download";
            font-size: 24px;
            margin: 0px 5px;
            line-height: 40px;
            padding: 5px;
          }

          &.generic-action-group::before {
            font-family: 'Material Icons';
            content: "view_list";
            font-size: 24px;
            margin: 0px 5px;
            line-height: 40px;
            padding: 5px;
          }

          &.generic-action-resize::before {
            font-family: 'Material Icons';
            content: "compare_arrows";
            font-size: 24px;
            margin: 0px 5px;
            line-height: 40px;
            padding: 5px;
          }

          &.generic-action-view-column::before {
            font-family: 'Material Icons';
            content: "view_column";
            font-size: 24px;
            margin: 0px 5px;
            line-height: 40px;
            padding: 5px;
          }

          &.generic-action-filter::before {
            font-family: 'Material Icons';
            content: "filter_list";
            font-size: 24px;
            margin: 0px 5px;
            line-height: 40px;
            padding: 5px;
          }

          &.generic-action-refresh::before {
            font-family: 'Material Icons';
            content: "autorenew";
            font-size: 24px;
            line-height: 40px;
            padding: 8px;
          }

          &.generic-action-delete::before {
            font-family: 'Material Icons';
            content: "delete";
            font-size: 24px;
            line-height: 40px;
            padding: 8px;
          }

          &.generic-action-add::before {
            font-family: 'Material Icons';
            content: "add";
            font-size: 24px;
            line-height: 40px;
            padding: 8px;
          }

        }

        &.export-action {
          display: none;

          &.buttons-copy > span,
          &.buttons-print > span,
          &.buttons-pdf > span {
            display: none;
          }

          &.buttons-excel > span,
          &.buttons-csv > span {
            font-weight: bold;
            margin: 0px 5px;
            vertical-align: 6px;
          }

          &.buttons-copy::after {
            font-family: 'Material Icons';
            content: "content_copy";
            font-size: 24px;
            margin: 0px 5px;
            line-height: 40px;
            padding: 5px;
          }

          &.buttons-print::after {
            font-family: 'Material Icons';
            content: "print";
            font-size: 24px;
            margin: 0px 5px;
            line-height: 40px;
            padding: 5px;
          }

          &.buttons-pdf::after {
            font-family: 'Material Icons';
            content: "picture_as_pdf";
            font-size: 24px;
            margin: 0px 5px;
            line-height: 40px;
            padding: 5px;
          }

        }

        &.buttons-columnVisibility {
          display: none;
          float: left;
          margin: 10px 4px 10px 8px;
          font-size: 14px;
        }

      }

    }

    .dataTables_hidden_options {
      width: 75%;
      float: left;
      text-align: right;
      display:none;
    }

    .dataTables_filter {
      margin: 0px ;
      padding: 0px 75px 0 50px;
      height: 40px;
      min-width: 250px;
      width: 25%;
      float: right;
      box-sizing: border-box;

      label {
        position: relative;
        vertical-align: top;

        &::before {
          font-family: 'Material Icons';
          content: "search";
          font-size: 24px;
          line-height: 40px;
          width: 50px;
          position: absolute;
          top: 0px;
          left: -50px;
          text-align: center;


          line-height: 1;
          width: 30px;

          top: 6px;
          left: -33px;

        }

      }

      input {
        outline: none;
        font-size: 100%;
        width: 100%;
        height: 24px;
        margin: 7px 0;
        padding: 0px;
      }

      input:focus {
        border-bottom-width: 2px;
      }

    }

    .dataTables_wrapper {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;

      margin: 0;
      width: 100%;
      height: 100%
    }

    .dataTables_top_wrapper {
      margin: 4px 0px;
    }

    .dataTables_top_wrapper {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;

        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;

      .dt-buttons,
      .dataTables_options {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
      }

      .dataTables_filter_wrapper {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
      }
    }

    .dataTables_fill_remaining{
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      width: 100%;
      height: 100%;
      .o-table-scroll {
        overflow: auto;
        height: 100%;
      }
    }

    .dataTables_pagination_wrapper {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }

    table {

      &.small {
        thead tr {
          height: 32px;
        }
        tbody tr {
          height: 28px;
        }
      }

      &.medium {
        thead tr {
          height: 40px;
        }
        tbody tr {
          height: 36px;
        }
      }

      &.small,
      &.medium {
        .o-table-column.o-table-column-action md-icon {
          font-size: 18px;
          line-height: 22px;
        }
      }

      &.large {
        thead tr {
          height: 52px;
        }
        tbody tr {
          height: 48px;
        }
      }

      width: 100.0%;
      margin: 0;
      border-spacing: 0;
      overflow: hidden;
      table-layout: fixed;

      thead {

        tr {
          height: 56px;

          th {
            position: relative;
            font-size: 14px;
            font-weight: 700;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 42px;
            outline: none;

            &:last-child:not(.o-table-column-action) {
              padding: 0 42px 0 24px !important;
            }

            &:first-child:not(.o-table-column-select-checkbox) {
              padding: 0 42px 0 54px !important;
            }

            &:first-child.o-table-column-select-checkbox {
              padding:0 12px 0 12px !important
            }

            &:nth-child(2) {
              padding: 0 42px 0 24px !important;
            }

            &:nth-child(n+3):nth-last-child(n+2):not(.o-table-column-action) {
              padding: 0 42px 0 24px !important;
            }

            &.o-table-select-checkbox {
              width: 20px;
              padding: 0 0 0 24px;
            }

            &.sorting,
            &.sorting_asc,
            &.sorting_desc {
               cursor: pointer;
            }

	          &.sorting::before,
            &.sorting_asc::before,
            &.sorting_desc::before,
            &.sorting_asc_disabled::before,
            &.sorting_desc_disabled::before {
              right: 20px;
              font-family: 'Material Icons';
              content: "arrow_upward";
              position: absolute;
              display: block;
              font-size: 16px;
              font-weight: normal;
            }

	          &.sorting::after,
            &.sorting_asc::after,
            &.sorting_desc::after,
            &.sorting_asc_disabled::after,
            &.sorting_desc_disabled::after {
              right: 8px;
              font-family: 'Material Icons';
              content: "arrow_downward";
              position: absolute;
              font-size: 16px;
              font-weight: normal;
            }

	          /*&.sorting_desc::before,
            &.sorting_asc::after {
              font-weight: bold;
            }*/

            &.sorting_disabled::before,
            &.sorting_disabled::after {
              opacity: 0.5;
            }

            div.sorting-index {
              position: absolute;
              top: 28px;
              right: 2px;
              font-weight: normal;
              font-size: 10px;
            }

            &.group {
              text-decoration: underline;
            }

            &.o-table-column-action {
              padding: 0 18px 0 18px !important;
            }

            &.o-table-column-action:last-child {
              padding-right: 24px !important;
            }


          }

        }

      }

      tbody {

        tr {

          transition: background-color .2s;
          height: 48px;

          &.empty {
            height: 0px !important;
          }

          &.group {

            td {

              font-weight: bold;

              &:last-child {
                padding: 0 16px !important;
              }

              .image-avatar {
                margin: 0px;
              }

            }

            & + tr td {
              border: none;
            }

          }

          &.editRow {
            input:not([type="checkbox"]) {
              top: 3px;
              left: 3px;
              bottom: 3px;
              height: auto;
              width: 90%;
            }
            select {
              top: 3px;
              left: 3px;
              bottom: 3px;
              height: auto;
              width: 98%;
            }
          }

          &.insertRow {
            td {
              input:not([type="checkbox"]) {
                top: 3px;
                left: 3px;
                bottom: 3px;
                height: auto;
              }
              select {
                top: 3px;
                left: 3px;
                bottom: 3px;
                height: auto;
                width: 98%;
              }
            }
          }

        }


        td {

          &.o-table-column-centered {
            text-align: center;
          }

          vertical-align: middle;
          text-align: left;
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: relative;
          cursor: default;

          &.focus {
            outline-offset: -1px;
          }

          &.editable {
            cursor: text;
            cursor: cell;
          }

          &.editing {
            outline-offset: -1px;
          }

          input {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 100%;
            height: 100%;
            padding: 0px 10px;
            border: none;
            outline: none;
          }

          select {
            position: absolute;
            top: -1px;
            left: 1px;
            width: 98%;
            height: 100%;
            padding: 0px 5px 0px 10px;
            border: none;
            outline: none;
          }

          input[type="checkbox"] {
            height: 14px;
            padding: 0px;
            margin-left: 0px;
          }

          &:last-child:not(.o-table-column-action) {
            padding: 0 42px 0 24px !important;
          }

          &:first-child:not(.o-table-column-action):not(.o-table-column-select-checkbox) {
            padding: 0 42px 0 54px !important;
          }

          &:nth-child(2):not(.o-table-column-action) {
            padding: 0 42px 0 24px !important;
          }

          &:nth-child(n+3):nth-last-child(n+2):not(.o-table-column-action) {
            padding: 0 42px 0 24px !important;
          }

          & > div {
            max-height: 48px;
          }

          &.dataTables_empty {
            text-align: center;
            border-bottom-width: 0px !important;
          }

          &.o-table-column-boolean {
            text-align: center;
          }

          &.o-table-column-string {
            text-align: left;
          }

          &.o-table-column-number {
            text-align: right;
          }

          &.o-table-column-date {
            text-align: center;
          }

          &.o-table-column-image {
            text-align: center;
          }

          &.o-table-column-action {
            text-align: center;
            padding: 0px !important;
            &.focus {
              outline: none;
            }
            .o-table-row-action {
              text-transform: uppercase;
              text-decoration: underline;
              line-height: 1;
              width: 100%;
              cursor: pointer;
            }
            .o-table-row-action-edit-cancel,
            .o-table-row-action-edit-save {
              width: 50%;
              font-weight: bold;
              font-size: 26px;
              cursor: pointer;
            }
          }

          .image-plain {
            height: 30px;

            img {
              max-width: 100%;
              height: 100%;
            }

          }

          .image-avatar {

            width: 34px;
            height: 34px;
            margin: 1px auto;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            z-index: 1;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              width: 100%;
              max-width: inherit;
              max-height: inherit;
            }

          }

        }

      }

    }

    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .dataTables_length {

      float: right;
      margin: 10px 10px 10px 0px;
      font-size: 14px;
      line-height: 22px;

      select {
        border: none;
        margin-left: 10px;
        outline: none;
      }

    }

    .dataTables_info {

      float: right;
      margin: 10px 10px 10px 0px;
      font-size: 14px;
      line-height: 24px;

      .select-info {
        position: absolute;
        left: 20px;
        bottom: 21px;
      }

    }

    .dataTables_paginate {

      float: right;
      margin: 10px 10px 10px 0px;
      font-size: 0px;

      .paginate_button {

        visibility: hidden;
        cursor: pointer;

        &.first::after {
          font-family: 'Material Icons';
          content: "first_page";
          visibility: visible;
          font-size: 24px;
          margin: 0px 5px;
        }

        &.previous::after {
          font-family: 'Material Icons';
          content: "keyboard_arrow_left";
          visibility: visible;
          font-size: 24px;
          margin: 0px 5px;
        }

        &.next::after {
          font-family: 'Material Icons';
          content: "keyboard_arrow_right";
          visibility: visible;
          font-size: 24px;
          margin: 0px 5px;
        }

        &.last::after {
          font-family: 'Material Icons';
          content: "last_page";
          visibility: visible;
          font-size: 24px;
          margin: 0px 5px;
        }

        &.disabled {
          cursor: not-allowed;
        }

      }

    }

  }

  .o-table-menu-button {
    position:absolute;
    top: 4px;
    // right: 4px;
    right: 0px;

    .material-icons {
      top: 7px;
      position: absolute;
      left: 0;
      width: 100%;
    }
  }

}

div.dt-button-collection {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 200px;
  margin-top: 3px;
  padding: 12px 12px 8px 12px;
  border-radius: 4px !important;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  z-index: 2002;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  -ms-column-gap: 8px;
  -o-column-gap: 8px;
  column-gap: 8px;
  overflow-y: auto;
  max-height: 60%;
}
div.dt-button-collection button.dt-button,
div.dt-button-collection div.dt-button,
div.dt-button-collection a.dt-button {
  position: relative;
  left: 0;
  right: 0;
  display: block;
  float: none;
  margin-bottom: 8px;
  margin-right: 0;
  text-decoration: none;
  line-height: 34px;
  min-height: 34px;
  font-size: 14px;
  padding: 0px 10px 0px 34px;
  outline: none;
}
div.dt-button-collection a.dt-button:hover {
  border-radius: 4px;
}
div.dt-button-collection button.dt-button::before,
div.dt-button-collection div.dt-button::before,
div.dt-button-collection a.dt-button::before {
  font-family: 'Material Icons';
  content: "check_box_outline_blank";
  font-size: 18px;
  line-height: 34px;
  position: absolute;
  left: 8px;
}
div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled) {
  font-weight: bold;
}
div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled)::before,
div.dt-button-collection div.dt-button:active:not(.disabled)::before,
div.dt-button-collection div.dt-button.active:not(.disabled)::before,
div.dt-button-collection a.dt-button:active:not(.disabled)::before,
div.dt-button-collection a.dt-button.active:not(.disabled)::before {
  font-family: 'Material Icons';
  content: "check_box";
  font-size: 18px;
  line-height: 34px;
  position: absolute;
  left: 8px;
}
div.dt-button-collection.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  border-radius: 0;
}
div.dt-button-collection.fixed.two-column {
  margin-left: -150px;
}
div.dt-button-collection.fixed.three-column {
  margin-left: -225px;
}
div.dt-button-collection.fixed.four-column {
  margin-left: -300px;
}
div.dt-button-collection > * {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
div.dt-button-collection.two-column {
  width: 300px;
  padding-bottom: 1px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}
div.dt-button-collection.three-column {
  width: 450px;
  padding-bottom: 1px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}
div.dt-button-collection.four-column {
  width: 600px;
  padding-bottom: 1px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}

div.dt-button-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2001;
}


.o-table .o-table-container table thead tr th.o-table-column-select-checkbox {
  &::before,
  &::after {
    content: initial!important;
  }

}

.o-table .o-table-container table thead tr th,
.o-table .o-table-container table tbody td {

  &.o-table-column-select-checkbox {

    &.focus {
      outline: none;
    }
    text-align: center;

    input[type="checkbox"].select-row {
      height: 14px;
      width: 14px;
      padding: 0px;
      margin-left: 0px;
      margin: 0;
      -webkit-appearance: none;
      cursor: pointer;
      position: absolute;
      top: 2px;
      left: 2px;
    }
    &.mat-checkbox-checked .mat-checkbox-inner-container {

      .mat-checkbox-checkmark-path {
        stroke-dashoffset: 0;
      }

      .mat-checkbox-mixedmark {
        transform: scaleX(1) rotate(-45deg);
      }

      .mat-checkbox-checkmark,
      .mat-checkbox-background {
        opacity: 1;
      }
    }

    &.mat-checkbox-indeterminate .mat-checkbox-inner-container{
      .mat-checkbox-background {
        opacity: 1;
      }

      .mat-checkbox-checkmark {
        opacity: 0;
        transform: rotate(45deg);
      }

      .mat-checkbox-checkmark-path {
        stroke-dashoffset: 0;
      }

      .mat-checkbox-mixedmark {
        opacity: 1;
        transform: scaleX(1) rotate(0deg);
      }
    }

    .mat-checkbox-inner-container {
        display: inline-block;
        height: 18px;
        line-height: 0;
        margin: auto;
        order: 0;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        width: 18px;
        cursor: pointer;

        .mat-checkbox-frame,
        .mat-checkbox-background,
        .mat-checkbox-checkmark {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        .mat-checkbox-frame,
        .mat-checkbox-background {
            border-radius: 2px;
            box-sizing: border-box;
            pointer-events: none;
        }

        .mat-checkbox-frame {
          transition: border-color 140ms cubic-bezier(0, 0, 0.2, 0.1);
          will-change: border-color;
        }

        .mat-checkbox-background {
          align-items: center;
          opacity: 0;
          display: inline-flex;
          justify-content: center;
          transition: background-color 140ms cubic-bezier(0, 0, 0.2, 0.1), opacity 140ms cubic-bezier(0, 0, 0.2, 0.1);
          will-change: background-color, opacity;
        }

        .mat-checkbox-checkmark,
        .mat-checkbox-mixedmark {
            width: calc(100% - 4px);
        }

        .mat-checkbox-checkmark {
          width: 100%;
        }

        .mat-checkbox-mixedmark {
          height: 2.4px;
          opacity: 0;
          transform: scaleX(0) rotate(0deg);
        }

        .mat-checkbox-checkmark-path {
            stroke-dashoffset: 22.91026;
            stroke-dasharray: 22.91026;
            stroke-width: 2.4px;
        }
    }

    &.mat-checkbox-anim-unchecked-checked {
      .mat-checkbox-background {
        animation: 280ms linear 0s mat-checkbox-fade-in-background;
      }
      .mat-checkbox-checkmark-path {
        animation: 280ms linear 0s mat-checkbox-unchecked-checked-checkmark-path;
      }
    }

    &.mat-checkbox-anim-unchecked-indeterminate {
      .mat-checkbox-background {
        animation: 280ms linear 0s mat-checkbox-fade-in-background;
      }

      .mat-checkbox-mixedmark {
        animation: 140ms linear 0s mat-checkbox-unchecked-indeterminate-mixedmark;
      }
    }

    &.mat-checkbox-anim-checked-unchecked {
      .mat-checkbox-background {
        animation: 280ms linear 0s mat-checkbox-fade-out-background;
      }

      .mat-checkbox-checkmark-path {
        animation: 140ms linear 0s mat-checkbox-checked-unchecked-checkmark-path;
      }
    }

    &.mat-checkbox-anim-checked-indeterminate .mat-checkbox-checkmark {
      .mat-checkbox-checkmark {
        animation: 140ms linear 0s mat-checkbox-checked-indeterminate-checkmark;
      }

      .mat-checkbox-mixedmark {
        animation: 140ms linear 0s mat-checkbox-checked-indeterminate-mixedmark;
      }
    }

    &.mat-checkbox-anim-indeterminate-checked {
     .mat-checkbox-checkmark {
        animation: 500ms linear 0s mat-checkbox-indeterminate-checked-checkmark;
      }

     .mat-checkbox-mixedmark {
        animation: 500ms linear 0s mat-checkbox-indeterminate-checked-mixedmark;
      }
    }

    &.mat-checkbox-anim-indeterminate-unchecked {
      .mat-checkbox-background {
        animation: 280ms linear 0s mat-checkbox-fade-out-background;
      }

      .mat-checkbox-mixedmark {
        animation: 300ms linear 0s mat-checkbox-indeterminate-unchecked-mixedmark;
      }
    }

  }
}

/**
 * Fades in the background of the checkbox when it goes from unchecked -> {checked,indeterminate}.
 */
@keyframes mat-checkbox-fade-in-background {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/**
 * Fades out the background of the checkbox when it goes from {checked,indeterminate} -> unchecked.
 */
@keyframes mat-checkbox-fade-out-background {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * "Draws" in the checkmark when the checkbox goes from unchecked -> checked.
 */
@keyframes mat-checkbox-unchecked-checked-checkmark-path {
  0%, 50% {
    stroke-dashoffset: 22.91026;
  }
  50% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.1);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/**
 * Horizontally expands the mixedmark when the checkbox goes from unchecked -> indeterminate.
 */
@keyframes mat-checkbox-unchecked-indeterminate-mixedmark {
  0%, 68.2% {
    transform: scaleX(0);
  }
  68.2% {
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  100% {
    transform: scaleX(1);
  }
}

/**
 * "Erases" the checkmark when the checkbox goes from checked -> unchecked.
 */
@keyframes mat-checkbox-checked-unchecked-checkmark-path {
  from {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -22.91026;
  }
}

/**
 * Rotates and fades out the checkmark when the checkbox goes from checked -> indeterminate. This
 * animation helps provide the illusion of the checkmark "morphing" into the mixedmark.
 */
@keyframes mat-checkbox-checked-indeterminate-checkmark {
  from {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.1);
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    transform: rotate(45deg);
  }
}

/**
 * Rotates and fades the checkmark back into position when the checkbox goes from indeterminate ->
 * checked. This animation helps provide the illusion that the mixedmark is "morphing" into the
 * checkmark.
 */
@keyframes mat-checkbox-indeterminate-checked-checkmark {
  from {
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
    opacity: 0;
    transform: rotate(45deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

/**
 * Rotates and fades in the mixedmark when the checkbox goes from checked -> indeterminate. This
 * animation, similar to mat-checkbox-checked-indeterminate-checkmark, helps provide an illusion
 * of "morphing" from checkmark -> mixedmark.
 */
@keyframes mat-checkbox-checked-indeterminate-mixedmark {
  from {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 0.1);
    opacity: 0;
    transform: rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

/**
 * Rotates and fades out the mixedmark when the checkbox goes from indeterminate -> checked. This
 * animation, similar to mat-checkbox-indeterminate-checked-checkmark, helps provide an illusion
 * of "morphing" from mixedmark -> checkmark.
 */
@keyframes mat-checkbox-indeterminate-checked-mixedmark {
  from {
    animation-timing-function: cubic-bezier(0.14, 0, 0, 1);
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    transform: rotate(315deg);
  }
}

/**
 * Horizontally collapses and fades out the mixedmark when the checkbox goes from indeterminate ->
 * unchecked.
 */
@keyframes mat-checkbox-indeterminate-unchecked-mixedmark {
  0% {
    animation-timing-function: linear;
    opacity: 1;
    transform: scaleX(1);
  }
  32.8%, 100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

.o-table {
  table.fixedHeader-floating {
    position: fixed !important;
    z-index: 200;
    left: initial!important;
  }

  table.fixedHeader-floating.no-footer {
    border-bottom-width: 0;
  }

  table.fixedHeader-locked {
    position: absolute !important;
    z-index: 200;
  }
}



@media print {
  table.fixedHeader-floating {
    display: none;
  }
}