@import 'node_modules/@angular/material/theming';
@mixin o-table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-table {
    .o-table-menu-button {
      color: mat-color($foreground, secondary-text);
    }

    .mat-header-row {
      background-color: mat-color($background, status-bar, 0.9);

      .mat-header-cell {
        color: mat-color($foreground, text);

        .column-filter-icon.active {
          color: mat-color($accent);
        }
      }
    }

    .spinner-container {
      background-color: mat-color($background, background);
    }

    .mat-row {
      &:hover {
        cursor: pointer;
        background-color: mat-color($foreground, base, 0.18);
      }

      .mat-cell {
        color: mat-color($foreground, secondary-text);

        &.o-column-currency,
        &.o-column-integer,
        &.o-column-real {
          text-align: right;
        }

        &.o-column-action,
        &.o-column-boolean,
        &.o-column-date {
          text-align: center;
        }

      }
    }

    .buttons {
      button {
        color: mat-color($foreground, secondary-text);
      }

      button:not(.disabled):hover {
        background-color: mat-color($background, hover);
      }

      button:not(.disabled):hover {
        background-color: mat-color($background, hover);
      }

      .button {
        &.active {
          color: mat-color($foreground, secondary-text);

          &::after {
            background: #eee;
          }
        }

        &.disabled {
          color: mat-color($background, disabled-button);
        }
      }
    }

    .mat-table {
      &.editable-row-table {
        .mat-row {
          background-color: mat-color($background, status-bar, 0.9);
        }
      }

      &.totals-table {
        .mat-header-row {
          display: none!important;
        }

        .mat-row {
          font-weight: bold;
          background-color: mat-color($background, status-bar, 0.9);
        }
      }

    }

    .o-table-body.horizontal-scroll {
      &::-webkit-scrollbar-thumb {
        background-color: mat-color($primary, 200, 0.5);
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: mat-color($primary, 200);
      }

      &::-webkit-scrollbar-thumb {
        border: 6px solid;
        border-color: mat-color($background, background);
      }

      &::-webkit-scrollbar-thumb:hover {
        border: 4px solid;
        border-color: mat-color($background, background);
      }
    }
  }
}
