<div *ngIf="loading" class="spinner-container" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
  <md-progress-spinner mode="indeterminate">
  </md-progress-spinner>
</div>

<div fxLayout="column" class="expandable-container fill-remaining" fxFill>
  <div class="o-table-container" *ngIf="isVisible()" [class.disabled]="oenabled === false" [class.detail]="detailMode !== 'none'"
    title="">

    <table [id]="getAttribute()" [class]="rowHeight"></table>

    <button *ngIf="showOptionsButton" class="o-table-menu-button" md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu #menu="mdMenu" x-position="before">
      <!--<button *ngIf="exportButton" md-menu-item (click)="exportButtonAction()"> {{ 'TABLE.BUTTONS.EXPORT' | oTranslate }} </button>-->
      <button *ngIf="exportButton || showExportOptions" (click)="exportAction('copyHtml5')" md-menu-item> {{ 'TABLE.BUTTONS.COPY_TO_CLIPBOARD' | oTranslate }} </button>
      <button *ngIf="exportButton || showExportOptions" (click)="exportAction('print')" md-menu-item> {{ 'TABLE.BUTTONS.PRINT' | oTranslate }} </button>
      <!--<button *ngIf="exportButton || showExportOptions" (click)="exportAction('excel')" md-menu-item> {{ 'TABLE.BUTTONS.EXCEL' | oTranslate }} </button>-->
      <button *ngIf="exportButton || showExportOptions" (click)="exportAction('csv')" md-menu-item> {{ 'TABLE.BUTTONS.CSV' | oTranslate }} </button>
      <button *ngIf="exportButton || showExportOptions" (click)="exportAction('pdf')" md-menu-item> {{ 'TABLE.BUTTONS.PDF' | oTranslate }} </button>


      <button *ngIf="columnsGroupButton" md-menu-item (click)="columnsGroupButtonAction()"> {{ 'TABLE.BUTTONS.GROUP_ROWS' | oTranslate }} </button>
      <button *ngIf="columnsResizeButton" md-menu-item (click)="columnsResizeButtonAction()"> {{ 'TABLE.BUTTONS.RESIZE_COLUMNS' | oTranslate }} </button>
      <button *ngIf="columnsVisibilityButton" md-menu-item (click)="columnsVisibilityButtonAction()"> {{ 'TABLE.BUTTONS.COLVIS' | oTranslate }} </button>

      <button md-menu-item *ngFor="let option of headerOptions" (click)="option.innerOnClick($event)">
        <md-icon *ngIf="option.icon && option.iconPosition === 'before'" class="mat-24">{{ option.icon }}</md-icon>
        {{ option.olabel | oTranslate }}
        <md-icon *ngIf="option.icon && option.iconPosition === 'after'" class="mat-24" style="margin-left: 16px;">{{ option.icon }}</md-icon>
      </button>
    </md-menu>

  </div>
</div>