$mat-checkbox-size-medium: 18px !default;
$_mat-checkbox-mark-stroke-size-medim: 2 / 15 * $mat-checkbox-size-medium !default;

$mat-checkbox-size-small: 16px !default;
$_mat-checkbox-mark-stroke-size-small: 2 / 15 * $mat-checkbox-size-small !default;

.o-table {
  .horizontal-scroll {
    .mat-cell,
    .mat-header-cell {
      min-width: 150px;
    }
  }

  .mat-cell,
  .mat-header-cell {
    min-width: 90px;
  }

  .mat-header-cell {
    &:not([o-mat-sort-header]) {
      &.start {
        place-content: flex-start;
      }

      &.center {
        place-content: center;
      }

      &.end {
        place-content: flex-end;
      }
    }

    &[o-mat-sort-header] {
      &.start .mat-sort-header-button {
        place-content: flex-start;
      }

      &.center .mat-sort-header-button {
        place-content: center;
      }

      &.end .mat-sort-header-button {
        place-content: flex-end;
      }
    }
  }
}

.o-table {
  height: 100%;
  max-height: 100%;

  div.expandable-container {
    overflow-y: auto;
    height: 100%;

  }

  .o-table-container {
    .o-table-body {
      .content-table {
        overflow-y: auto;
      }
    }

    &.block-events {
      pointer-events: none;

       > .o-table-body .mat-header-row,
      > .toolbar {
        opacity: .75;
      }
    }

    .o-table-body.horizontal-scroll {
      overflow-x: auto;
      padding-bottom: 16px;

      .mat-table {
        overflow: hidden;

        &:not(.content-table) {
          min-width: fit-content;
        }
      }

      &.scrolled {
        .mat-table.content-table {
          min-width: fit-content;
        }

        .mat-cell,
        .mat-header-cell {
          flex: 0!important;
        }
      }

      &::-webkit-scrollbar {
        height: 16px;
      }
    }

    .table-title {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
    // display: block;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 .5%;

    .spinner-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 500;
      visibility: visible;
      opacity: 1;
      -moz-transition: opacity .25s linear;
      -webkit-transition: opacity .25s linear;
      transition: opacity .25s linear;

    }

    .spinner-container-scrollable {
      position: relative;
    }

    .mat-table {
      &.small {
        .mat-row .mat-cell .image-avatar {
          width: 22px;
          height: 22px;
        }

        .mat-checkbox-inner-container {
          height: $mat-checkbox-size-small;
          width: $mat-checkbox-size-small;

          .mat-checkbox-checkmark-path {
            width: $_mat-checkbox-mark-stroke-size-small;
          }

          .mat-checkbox-mixedmark {
            height: floor($_mat-checkbox-mark-stroke-size-small);
          }
        }
      }

      &.medium {
        .mat-row .mat-cell .image-avatar {
          width: 28px;
          height: 28px;
        }

        .mat-checkbox-inner-container {
          height: $mat-checkbox-size-medium;
          width: $mat-checkbox-size-medium;

          .mat-checkbox-checkmark-path {
            width: $_mat-checkbox-mark-stroke-size-medim;
          }

          .mat-checkbox-mixedmark {
            height: floor($_mat-checkbox-mark-stroke-size-medim);
          }
        }
      }

      .mat-header-row {
        line-height: 48px;

        .mat-header-cell {
          .column-filter-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            line-height: 1;
          }

          &:not([o-mat-sort-header]) {
            display: flex;
            cursor: default;
          }

          .mat-sort-header-button {
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .mat-sort-header-arrow {
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }

      .mat-row {
        box-sizing: border-box;
        transition: background-color .2s;

        /* iOS Safari */
        -webkit-touch-callout: none;
        /* Safari */
        -webkit-user-select: none;
        /* Konqueror HTML */
        -khtml-user-select: none;
        /* Firefox */
        -moz-user-select: none;
        /* Internet Explorer/Edge */
        -ms-user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */
        user-select: none;

        &.selected {
          background: #E0E0E0;
        }

        &:last-child {
          border-bottom: none;
        }

        .mat-cell {
          &.empty-cell {
            min-height: 16px;
          }

          &.o-start {
            text-align: start;
          }

          &.o-center {
            text-align: center;
          }

          &.o-end {
            text-align: end;
          }

          * {
            vertical-align: middle;
          }

          .image-avatar {
            display: inline-block;
            width: 34px;
            height: 34px;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            z-index: 1;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              width: 100%;
              max-width: inherit;
              max-height: inherit;
            }
          }
        }
      }

      .o-action-cell-renderer {
        display: inline-block;
        cursor: pointer;
      }

      .mat-cell,
      .mat-header-cell {
        padding: 0 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box;

        &.o-mat-cell-multiline {
          &:not(.mat-header-cell) {
            padding: 6px 12px;
          }
          overflow: initial;
          white-space: normal;
          text-overflow: unset;
        }

        &.mat-column-select {
          max-width: 18px;
          min-width: 18px;
          width: 18px;
          padding: 0 4px;
          box-sizing: content-box;
          overflow: initial;
        }
      }
    }

    &.disabled {
      thead {
        tr {
          &::before {
            display: none;
          }
        }
      }

      tbody {
        tr {
          &:not(.group)::before {
            display: none;
          }

          &.selected::before {
            display: none;
          }

          td {
            &.focus {
              outline: none;
            }
          }
        }
      }

      .dataTables_info .select-info {
        display: none;
      }
    }

    &.detail {
      tbody {
        tr:not(.insertRow) {
          td {
            cursor: pointer;
          }
        }
      }
    }

    .toolbar {
      margin: 4px 0;
      height: 40px;

      .buttons {
        margin: 0 10px 0 4px;
      }
    }
  }

  &.o-table-fixed {
    max-height: 100%;
    height: 100%;

    &[layout-padding] {
      max-height: calc(100% - 16px);
    }

    .expandable-container {
      max-height: 100%;
      height: 100%;
    }

    .o-table-container {
      .mat-table {
        flex: 1 1 auto;
        position: relative;
      }

      .mat-table:not(.header-fixed) {
        overflow-y: auto;
      }

      .header-fixed,
      .mat-paginator,
      .toolbar {
        flex: 0 0 auto;
      }
    }
  }

  /* Workaround for bug when a table is inside a tab */
  .o-table-container.tab-container {
    .active-sort {
      .mat-sort-header-arrow {
        opacity: 1 !important;
        transform: translateY(0px) !important;
      }

      &.desc {
        .mat-sort-header-indicator {
          transform: translateY(10px);
        }

        .mat-sort-header-pointer-left {
          transform: rotate(45deg);
        }

        .mat-sort-header-pointer-right {
          transform: rotate(-45deg);
        }
      }
    }

    .mat-sort-header-pointer-left {
      transform: rotate(-45deg);
    }

    .mat-sort-header-pointer-right {
      transform: rotate(45deg);
    }
  }
}

.mat-tooltip.o-table-cell-tooltip {
  margin: 6px;
  word-wrap: break-word;
  max-height: 64px;
  overflow: hidden;
  min-width: 140px;
}
