@import 'node_modules/@angular/material/theming';
@mixin o-table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-table {
    .mat-header-row {
      background-color: mat-color($background, status-bar, 0.9);
      .mat-header-cell {
        color: mat-color($foreground, text);
      }
    }
    .mat-row {
      &:hover {
        cursor: pointer;
        background-color: mat-color($foreground, base, 0.18);
      }
      .mat-cell {
        color: mat-color($foreground, secondary-text);
      }
     
        
    }

    .buttons {
      
      button {
        color: mat-color($foreground, secondary-text);
      }
      button:not(.hidden-action-text):not(.disabled):hover {
        background-color: mat-color($background, hover);
      }

      button.hidden-action-text:not(.disabled):hover {
        background-color: mat-color($background, hover);
      }

      .button {

        &.active {
          color: mat-color($foreground, secondary-text);

          &::after {
            background: #eee;
          }
        }

        &.disabled {
          color: mat-color($background, disabled-button);
        }


    }
  }

}
}