@import 'node_modules/@angular/material/theming';
@mixin o-table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-table {
    .spinner-container {
      background-color: mat-color($background, background);
    }

    .o-table-menu-button {
      color: mat-color($foreground, secondary-text);
    }

    .mat-table {
      .mat-header-row {
        background-color: mat-color($background, status-bar, 0.9);

        .mat-header-cell {
          color: mat-color($foreground, text);

          .column-filter-icon.active {
            color: mat-color($accent);
          }

        }
      }

      .mat-row {
        &:hover {
          cursor: pointer;
          background-color: mat-color($foreground, base, 0.18);
        }

        .mat-cell {
          color: mat-color($foreground, secondary-text);
        }

      }

      .mat-footer-row {
        font-weight: bold;
        background-color: mat-color($background, status-bar, 0.9);
      }

      .mat-footer-row,
      .mat-row {
        .mat-cell,
        .mat-footer-cell {
          &.o-column-currency,
          &.o-column-integer,
          &.o-column-real {
            text-align: right;
          }

          &.o-column-action,
          &.o-column-boolean,
          &.o-column-date {
            text-align: center;
          }
        }
      }

      &.editable-row-table {
        .mat-row {
          height: auto;
          background-color: mat-color($background, status-bar, 0.9);
        }
      }

    }

    .buttons {
      button {
        color: mat-color($foreground, secondary-text);
      }

      button:not(.disabled):hover {
        background-color: mat-color($background, hover);
      }

      .button {
        &.active {
          color: mat-color($foreground, secondary-text);

          &::after {
            background: #eee;
          }
        }

        &.disabled {
          color: mat-color($background, disabled-button);
        }
      }
    }
  }

}
