@function o-table-typography-config(
  /* Small */
  $small-header-height:     mat-typography-level(32px, 32px, 400),
  $small-row-height:        mat-typography-level(28px, 28px, 400),
  $small-header-font-size:  mat-typography-level(16px, 16px, 400),
  $small-row-font-size:     mat-typography-level(12px, 12px, 400),
  /* Medium */
  $medium-header-height:    mat-typography-level(40px, 40px, 400),
  $medium-row-height:       mat-typography-level(36px, 36px, 400),
  $medium-header-font-size: mat-typography-level(20px, 20px, 400),
  $medium-row-font-size:    mat-typography-level(14px, 14px, 400),
  /* Large */
  $large-header-height:     mat-typography-level(52px, 40px, 400),
  $large-row-height:        mat-typography-level(48px, 36px, 400),
  $large-header-font-size:  mat-typography-level(24px, 24px, 400),
  $large-row-font-size:     mat-typography-level(14px, 14px, 400)
) {

  // Declare an initial map with all of the levels.
  $config: (
    small-header-height:      $small-header-height,
    small-row-height:         $small-row-height,
    small-header-font-size:   $small-header-font-size,
    small-row-font-size:      $small-row-font-size,

    medium-header-height:     $medium-header-height,
    medium-row-height:        $medium-row-height,
    medium-header-font-size:  $medium-header-font-size,
    medium-row-font-size:     $medium-row-font-size,

    large-header-height:      $large-header-height,
    large-row-height:         $large-row-height,
    large-header-font-size:   $large-header-font-size,
    large-row-font-size:      $large-row-font-size
  );
  @return $config;
}