.sidenav-toggle-container + .o-app-sidenav-image {
  .application-sidenav-image-container {
    padding-top: 0px;
    text-align: center;
  }
}

.mat-drawer-opened {
  .o-app-sidenav-image .application-sidenav-image-container {
    text-align: center;
  }
}

.o-app-sidenav-image {
  .application-sidenav-image-container {
    max-height: 75px;
    padding: 8px 16px 16px 16px;
    .application-sidenav-image {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
