<span mat-dialog-title>{{ 'TABLE.BUTTONS.COLVIS' | oTranslate }}</span>

<mat-dialog-content class="o-table-vcd-content">
  <mat-list [dragula]="'o-table-vcd-list'" [dragulaModel]="columns">
    <mat-list-item *ngFor="let column of columns" (click)="onClickColumn(column)" class="o-table-vcd-listitem">
      <mat-icon mat-list-icon>drag_handle</mat-icon>
      <span mat-line>{{ column.name }}</span>
      <mat-icon *ngIf="column.visible">visibility</mat-icon>
      <mat-icon *ngIf="!column.visible">visibility_off</mat-icon>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button [mat-dialog-close]="false">{{ 'CANCEL' | oTranslate }}</button>
  <button mat-button [mat-dialog-close]="true">{{ 'ACCEPT' | oTranslate }}</button>
</mat-dialog-actions>