.o-table-visible-columns-dialog {
  .mat-list-item {
    cursor: pointer;
  }

  .mat-icon[svgicon="ontimize:drag_handle"] {
    cursor: move;
  }

  .mat-icon[svgicon="ontimize:visibility"],
  .mat-icon[svgicon="ontimize:visibility_off"] {
    svg {
      width: 125%;
    }
  }
}
