.o-card-menu-item {
  border-radius: 3px;

  .o-card-menu-item-main,
  .o-card-menu-item-secondary {
    width: 100%;
    padding: 12px 0 12px 0;
  }

  .o-card-menu-item-image-container {
    width: 100%;

    .o-card-menu-item-icon {
      width: 100%;
      height: 100%;
      font-size: 5em;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .o-card-menu-item-title,
  .mat-button {
    font-weight: 600;
  }

  .mat-button {
    width: 100%;
  }

  .o-card-menu-item-main {
    position: relative;
  }

  .o-card-menu-item-title,
  .o-card-menu-item-icon {
    cursor: default;
  }

  .o-card-menu-item-info {
    cursor: default;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
