<div fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="getFormGroup()" [matTooltip]="tooltip" [matTooltipPosition]="tooltipPosition"
  [matTooltipShowDelay]="tooltipShowDelay">
  <mat-form-field [class.custom-width]="hasCustomWidth" class="icon-field" fxFlexFill>
    <input matInput type="number" [attr.id]="getAttribute()" fxFill [formControlName]="getAttribute()" [placeholder]="placeHolder"
      [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)" (focus)="innerOnFocus($event)" (blur)="innerOnBlur($event)"
      [readonly]="isReadOnly" [min]="min" [max]="max" [step]="step" [required]="isRequired">
    <button *ngIf="showClear && getValue()" matSuffix mat-icon-button (click)="clearValue()">
      <mat-icon>close</mat-icon>
    </button>
    <span class="icon-btn" [class.mat-disabled]="isDisabled" matSuffix>%</span>
    <mat-error *ngIf="hasError('required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</mat-error>
    <mat-error *ngIf="hasError('min')">{{ 'FORM_VALIDATION.MIN_VALUE' | oTranslate }}: {{ getErrorValue('min', 'requiredMin') }}</mat-error>
    <mat-error *ngIf="hasError('max')">{{ 'FORM_VALIDATION.MAX_VALUE' | oTranslate }}: {{ getErrorValue('max', 'requiredMax') }}</mat-error>
    <mat-error *ngIf="hasError('pattern')">{{ 'FORM_VALIDATION.FORMAT' | oTranslate }}</mat-error>
  </mat-form-field>
</div>
