/*
.mat-overlay-container {

  .mat-overlay-pane.o-dialog-fullscreen {

    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    background: rgba(0, 0, 0, 0.8);
    transform: none !important;
    z-index: 10000;

    .mat-dialog {

      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateX(0px) translateY(-50%) translateY(0px) !important;
      -moz-transform: translateX(-50%) translateX(0px) translateY(-50%) translateY(0px) !important;
      -ms-transform: translateX(-50%) translateX(0px) translateY(-50%) translateY(0px) !important;
      -o-transform: translateX(-50%) translateX(0px) translateY(-50%) translateY(0px) !important;
      transform: translateX(-50%) translateX(0px) translateY(-50%) translateY(0px) !important;
      opacity: 1;

    }

  }

}
*/
.o-dialog {

  .alert-content {
    box-sizing: border-box;
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;

    padding: 12px 0;
  }
  .alert-content-icon{
    min-height: 70px;
  }
  .alert-icon {
    font-size: 50px;
    margin-right: 16px;
    min-height: 50px;
    min-width: 50px;
  }
}