@import 'node_modules/@angular/material/theming';

@mixin o-dialog-theme($theme) {

  $info: mat-palette($mat-light-blue);
  $warn: mat-palette($mat-amber);
  $error: mat-palette($mat-red);

  .alert-icon {
    &.info {
      color: mat-color($info);
    }
    &.warn {
      color: mat-color($warn);
    }
    &.error {
      color: mat-color($error);
    }
  }

}



