# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out
/ontimize/**/*.css
ontimize.css
/bundles
# /ontimize/**/*.js
# /ontimize/**/*.js.map
# /ontimize/**/*.metadata.json
/dll

# dependencies
/node_modules
/typings

# IDEs and editors
/.svn
/.vscode
/.editorconfig
/.sonar
sonar-project.properties

# misc
/.travis.yml
npm-debug.log
testem.log
/coverage

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
