@import 'ontimize/components/material/styles.scss';
@import 'ontimize/components/container/o-container.component.scss';
@import 'ontimize/components/input/input.scss';

.relative {
  position: relative;
}

.mat-dialog-custom {
  padding: 0 0 24px 0 !important;
  .mat-dialog-content.dialog-list-container {
    margin: 0;
  }
  .mat-dialog-actions {
    padding: 12px 24px;
  }
}

.mathint {
  position: absolute;
  font-size: 75%;
  bottom: 4px;

  &.mat-right {
    right: 0;
  }

  [dir='rtl'] & {
    right: 0;
    left: auto;

    &.mat-right {
      right: auto;
      left: 0;
    }
  }
}