@import 'ontimize/components/material/styles.scss';
@import 'ontimize/components/container/o-container.component.scss';
@import 'ontimize/components/container/o-container-collapsible.component.scss';
@import 'ontimize/components/input/input.scss';

.relative {
  position: relative;
}

.o-dialog-class {
  .mat-dialog-container {
    border-radius: 2px;

    .mat-dialog-title {
      margin: -24px;
      padding: 16px 20px;
    }

    .mat-subheader {
      cursor: default;
      padding: 24px 0 32px;

      &.inner-subheader {
        padding: 0;
      }
    }

    .mat-dialog-content {
      padding: 24px 30px 8px;

      .alert-content {
        padding: 30px 0 12px;
      }

      form {
        > *:not(:last-child) {
          margin-bottom: 18px;
        }
      }

      .mat-selection-list[dense] {
        padding-top: 0;
      }
    }

    .mat-dialog-actions {
      margin: 0 -6px -24px;
      padding-top: 0;
    }
  }

  &.o-dialog-service,
  &.o-table-dialog {
    .mat-dialog-container {
      .mat-dialog-actions {
        padding-top: 12px;
      }
    }
  }
}

.fill-remaining {
  flex: 1 1 auto;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

$steps: 6;
@mixin padding-margin-x {
   @for $i from 1 through $steps{
    $val: $i * 4;

    .vertical-padding-#{$val} {
      padding-top: $val * 1px;
      padding-bottom: $val * 1px;
    }

    .horizontal-padding-#{$val} {
      padding-left: $val * 1px;
      padding-right: $val * 1px;
    }

    .vertical-margin-#{$val} {
      margin-top: $val * 1px;
      margin-bottom: $val * 1px;
    }

    .horizontal-margin-#{$val} {
      margin-left: $val * 1px;
      margin-right: $val * 1px;
    }
  }
}
@include padding-margin-x();