@import 'ontimize/components/material/styles.scss';
@import 'ontimize/components/container/o-container.component.scss';
@import 'ontimize/components/input/input.scss';

.relative {
  position: relative;
}

.mat-dialog-custom {
  padding: 0 0 24px 0 !important;
  .mat-dialog-content.dialog-list-container {
    margin: 0;
  }
  .mat-dialog-actions {
    padding: 12px 24px;
  }
}

.mathint {
  position: absolute;
  font-size: 75%;
  bottom: 4px;

  &.mat-right {
    right: 0;
  }

  [dir='rtl'] & {
    right: 0;
    left: auto;

    &.mat-right {
      right: auto;
      left: 0;
    }
  }
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

$steps: 6;
@mixin padding-margin-x {
  @for $i from 1 through $steps {
    $val: $i * 4;
    .vertical-padding-#{$val} { padding-top: $val px; padding-bottom: $val px; }
    .horizontal-padding-#{$val} { padding-left: $val px; padding-right: $val px; }
    .vertical-margin-#{$val} { margin-top: $val px; margin-bottom: $val px; }
    .horizontal-margin-#{$val} { margin-left: $val px; margin-right: $val px; }
  }
}

@include padding-margin-x();