@import 'ontimize/components/material/styles.scss';
@import 'ontimize/components/container/o-container.component.scss';
@import 'ontimize/components/input/input.scss';

.relative {
  position: relative;
}

.mat-dialog-custom{
  padding: 0px !important;

  .dialog-list-container {
    md-list {
      padding: 8px;
    }
  }
}

div.mat-dialog.mat-dialog-custom > md-dialog-actions{
 width: 100%;
    margin: 0;
    right: 0;
}

.mathint {
  position: absolute;
  font-size: 75%;
  bottom: 4px;

  &.mat-right {
    right: 0;
  }

  [dir='rtl'] & {
    right: 0;
    left: auto;

    &.mat-right {
      right: auto;
      left: 0;
    }
  }
}