@mixin o-app-header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-app-header {
    nav {
      .sidenav-toggle {
        color: mat-color($primary, default-contrast);
        background: mat-color($primary);
      }

      .menu-button {
        background: transparent;
      }
    }
  }
}
