.o-context-menu-item {
  &.disabled a {
    color: #BDBDBD;
  }

  &.active,
  &:hover:not(.disabled) {
    background: #E0E0E0;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 4px;
    white-space: nowrap;
  }

  mat-icon {
    padding: 0 12px;
  }

  span {
    padding-right: 12px;
  }
}
