@import 'node_modules/@angular/material/theming';
@mixin o-form-toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-form-toolbar-headerr {
    background-color: mat-color($background, app-bar);

    .mat-toolbar-tools {
      button.mat-button,
      button.mat-icon-button {
        &[disabled],
        &[disabled] mat-icon {
          color: mat-color($background, disabled-button);
          cursor: initial;
        }
        color: mat-color($primary);
      }

      mat-icon.mat-disabled {
        color: mat-color($background, disabled-button);
        cursor: initial;
      }
    }
  }
}
