.o-form-container-breadcrumb {
  .o-breadcrumb {
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 8px 0;
    //padding-top:8px;
   // padding-left:8px;
    //padding-right:8px;
    background: #eeeeee;
    left: 16px;
    right: 30px;
    //left: 0;
    //right: 0px;
  }

  #outer-form-container .o-form.fill{
    margin-top:52px;
  }
 
}
  
.application-layout-content-wrapper {

  o-form-container{
    position: relative;;
    //height:100%;
    width:100%;
    display: block;
    //overflow:auto;

    #outer-form-container{
      position:absolute;
      height:100%;
      width:100%;
    }

  }
  
  }
