<md-toolbar class="toolbar-form-header">

  <div class="mat-toolbar-tools" fxFill>
    <md-icon aria-label="Back" (click)="onCloseDetail()" *ngIf="isDetail">arrow_back</md-icon>

    <button md-button (click)="onUndoLastChange()" [disabled]="isChangesStackEmpty" *ngIf="showUndoButton">
      <md-icon>undo</md-icon>
      <span *ngIf="showHeaderActionsText">{{ 'UNDO' | oTranslate }}</span>
    </button>

    <ng-container *ngIf="showNavigation">
      <md-icon aria-label="First" (click)="first()" layout-padding>first_page</md-icon>
      <md-icon aria-label="Previous" (click)="previous()" layout-padding>keyboard_arrow_left</md-icon>
      <span>{{ numberOfRecords() }}</span>
      <md-icon aria-label="Next" (click)="next()" layout-padding>keyboard_arrow_right</md-icon>
      <md-icon aria-label="Last" (click)="last()" layout-padding>last_page</md-icon>
    </ng-container>

    <span *ngIf="getLabelHeaderAlign() === 'center' || getLabelHeaderAlign() === 'end'" class="fill-remaining"></span>
    <div *ngIf="labelheader!=''" fxLayout="row" fxLayoutAlign="center center">
      <span>{{ labelHeader | oTranslate }}</span>
    </div>
    <span *ngIf="getLabelHeaderAlign() === 'start' || getLabelHeaderAlign() === 'center'" class="fill-remaining"></span>

    <ng-content select="[o-custom-form-toolbar-buttons-wrapper]"></ng-content>

    <ng-container *ngIf="initialMode">
      <button md-button (click)="onReload($event)" *ngIf="refreshBtnEnabled">
        <md-icon>autorenew</md-icon>
        <span *ngIf="showHeaderActionsText">{{ 'REFRESH' | oTranslate }}</span>
      </button>
      <button md-button (click)="onInsert($event)" *ngIf="insertBtnEnabled">
        <md-icon>add</md-icon>
        <span *ngIf="showHeaderActionsText">{{ 'ADD' | oTranslate }}</span>
      </button>
      <button md-button (click)="onEdit($event)" *ngIf="editBtnEnabled">
        <md-icon>mode_edit</md-icon>
        <span *ngIf="showHeaderActionsText">{{ 'EDIT' | oTranslate }}</span>
      </button>
      <button md-button (click)="onDelete($event)" *ngIf="deleteBtnEnabled">
        <md-icon>delete</md-icon>
        <span *ngIf="showHeaderActionsText">{{ 'DELETE' | oTranslate }}</span>
      </button>
      <button md-button (click)="onSave($event)" [disabled]="!existsChangesToSave" *ngIf="saveBtnEnabled">
        <md-icon>save</md-icon>
        <span *ngIf="showHeaderActionsText">{{ 'SAVE' | oTranslate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="editMode || insertMode">
      <span class="fill-remaining"></span>
      <button md-button (click)="cancelOperation($event)">
        <md-icon>clear</md-icon>
        <span *ngIf="showHeaderActionsText">{{ 'CANCEL' | oTranslate }}</span>
      </button>
      <button md-button color="primary" (click)="acceptOperation($event)">
        <md-icon>done</md-icon>
        <span *ngIf="showHeaderActionsText">{{ 'OK' | oTranslate }}</span>
      </button>
    </ng-container>
  </div>

</md-toolbar>