@import 'node_modules/@angular/material/theming';

@mixin o-form-toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .toolbar-form-header{
    background-color: mat-color($background, app-bar);
    .mat-toolbar-tools {
      button.mat-button {
        &[disabled],
        &[disabled] md-icon {
          color: mat-color($background, disabled-button);
          cursor: initial;
        }
        color: mat-color($primary);
      }


      md-icon {
        color: mat-color($primary);
      }
      md-icon.mat-disabled{
        color: mat-color($background, disabled-button);
        cursor: initial;

      }

    }
  }

}

