.o-form {

  ng-host {
    height: 100%;
  }

  o-form-toolbar {
    &.o-form-toolbar-floating {
      position: absolute;
      box-shadow: none;
      z-index: 100;
      right: 0px;
      left: 0;
    }
      &.o-form-toolbar-floating-scrolled {
      //  right: 26px;
      }
    }
  

  /*TOOLBAR FLOATING*/
  o-form-toolbar {
    &.o-form-toolbar-floating ~ .inner-form {
      position: relative;
      margin-top: 58px;
      height: calc(100% - 58px);
      overflow: auto;
    }
  }

  form {
    &.inner-form {
      position: relative;
      display: block;
      .progress-bar-container {
        padding: 8px 8px 0;
      }
    }

    &.form-no-toolbar {
      top: 0;
    }

    .o-form-content-wrapper {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
