@import 'node_modules/@angular/material/theming';
@mixin o-form-toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  .o-form-toolbar-header {
    background-color: mat-color($background, app-bar);

    .mat-toolbar-tools {
      button.mat-button,
      button.mat-icon-button {
        &[disabled],
        &[disabled] mat-icon {
          color: mat-color($background, disabled-button);
          cursor: initial;
        }
      }

      mat-icon.mat-disabled {
        color: mat-color($background, disabled-button);
        cursor: initial;
      }
    }
  }
}
