.o-form {
  overflow: auto;

  ng-host {
    height: 100%;
  }

  &.fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  position: relative;

  o-form-toolbar {
    &.o-form-toolbar-floating{
      position: fixed;
      box-shadow: none;
      z-index: 100;
      right: 8px;
      left: 8px;

      &.o-form-toolbar-floating-scrolled {
        right: 26px;
      }
    }
  }

  form {
    &.inner-form {
      position: absolute;
      top: 58px;
      left: 0px;
      right: 0px;

      .progress-bar-container {
        padding: 8px 8px 0px 8px;
      }
    }

    &.form-no-toolbar {
      top: 0px;
    }

    .o-form-content-wrapper {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      &.force-display-block {
        // display: block!important;
      }
    }
  }
}