<mat-toolbar class="toolbar-form-header">

  <div class="mat-toolbar-tools" fxFill>
    <mat-icon aria-label="Back" (click)="onCloseDetail()" *ngIf="isDetail">arrow_back</mat-icon>

    <o-form-navigation #formNavigation *ngIf="showNavigation">
    </o-form-navigation>

    <span *ngIf="getLabelHeaderAlign() === 'center' || getLabelHeaderAlign() === 'end'" class="fill-remaining"></span>
    <div *ngIf="labelHeader!=''" fxLayout="row" fxLayoutAlign="center center">
      <span>{{ labelHeader | oTranslate }}</span>
    </div>
    <span *ngIf="getLabelHeaderAlign() === 'start' || getLabelHeaderAlign() === 'center'" class="fill-remaining"></span>

    <ng-content select="[o-custom-form-toolbar-buttons-wrapper]"></ng-content>

    <button mat-button (click)="onUndoLastChange()" [disabled]="isChangesStackEmpty" *ngIf="showUndoButton">
        <mat-icon>undo</mat-icon>
        <span *ngIf="showHeaderActionsText">{{ 'UNDO' | oTranslate }}</span>
    </button>

    <ng-container *ngIf="initialMode">

      <button mat-button (click)="onReload($event)" *ngIf="refreshBtnEnabled">
        <mat-icon>autorenew</mat-icon>
        <span *ngIf="showHeaderActionsText">{{ 'REFRESH' | oTranslate }}</span>
      </button>
      <button mat-button (click)="onInsert($event)" *ngIf="insertBtnEnabled">
        <mat-icon>add</mat-icon>
        <span *ngIf="showHeaderActionsText">{{ 'ADD' | oTranslate }}</span>
      </button>
      <button mat-button (click)="onEdit($event)" *ngIf="editBtnEnabled">
        <mat-icon>mode_edit</mat-icon>
        <span *ngIf="showHeaderActionsText">{{ 'EDIT' | oTranslate }}</span>
      </button>
      <button mat-button (click)="onDelete($event)" *ngIf="deleteBtnEnabled">
        <mat-icon>delete</mat-icon>
        <span *ngIf="showHeaderActionsText">{{ 'DELETE' | oTranslate }}</span>
      </button>
      <button mat-button (click)="onSave($event)" [disabled]="!existsChangesToSave" *ngIf="saveBtnEnabled">
        <mat-icon>save</mat-icon>
        <span *ngIf="showHeaderActionsText">{{ 'SAVE' | oTranslate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="editMode || insertMode">
      <button mat-button (click)="cancelOperation($event)">
        <mat-icon>clear</mat-icon>
        <span *ngIf="showHeaderActionsText">{{ 'CANCEL' | oTranslate }}</span>
      </button>
      <button mat-button color="primary" (click)="acceptOperation($event)">
        <mat-icon>done</mat-icon>
        <span *ngIf="showHeaderActionsText">{{ 'OK' | oTranslate }}</span>
      </button>
    </ng-container>
  </div>

</mat-toolbar>