.o-form {
  &.fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  position: relative;

  .o-form-toolbar-floating {
    position: fixed;
    top: 64px;
    left: 0px;
    right: 0px;
    z-index: 100;
    box-shadow: none;
  }

  .o-form-toolbar-floating-scrolled {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  form {
    &.inner-form {
      position: absolute;
      top: 50px;
      left: 0px;
      right: 0px;

      .progress-bar-container {
        padding: 8px 8px 0px 8px;
      }
    }

    &.form-no-toolbar {
      top: 0px;
    }

    .o-form-content-wrapper {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      &.force-display-block {
        display: block!important;
      }
    }
  }
}