.o-form-toolbar {
  .toolbar-form-header {
    min-height: 50px;
    max-height: 50px;

    mat-toolbar-row {
      height: 50px;
    }

    .mat-toolbar-tools {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      box-sizing: border-box;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      button {
        min-width: 100px;
        padding: 0 6px;
      }

      mat-icon {
        cursor: pointer;
        vertical-align: middle;
      }

    }
  }

}
