.toolbar-form-header{
  background: #eee;
  min-height: 50px;

  md-toolbar-row {
    height: 50px;
  }

  .md-toolbar-tools {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .fill-remaining {
      flex: 1 1 auto;
    }

    button {
      color: #009688;
      min-width: 100px;
      padding: 0px 6px;
    }

    md-icon {
      cursor: pointer;
      color: #009688;
      vertical-align: middle;
    }

  }


}

