<mat-menu #childMenu="matMenu">
  <ng-container *ngFor="let child of items">
    <!-- Handle branch node menu items -->
    <span *ngIf="isGroup(child) && child.isVisible">
      <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu" [disabled]="child.disabled">
        <mat-icon>{{ child.icon }}</mat-icon>
        <span>{{ child.label | oTranslate}}</span>
      </button>
      <o-menu-item #menu [items]="child.children"></o-menu-item>
    </span>
    <!-- Handle leaf node menu items -->
    <button mat-menu-item (click)="onClick(child, $event)" [disabled]="child.disabled" *ngIf="isItem(child) && child.isVisible">
      <mat-icon>{{ child.icon }}</mat-icon>
      <span>{{ child.label | oTranslate}} </span>
    </button>
    <!-- separator leaf node menu items -->
    <mat-divider *ngIf="isSepararor(child) && child.isVisible"></mat-divider>
  </ng-container>
</mat-menu>