<div layout="row" layout-fill layout-align="space-between center" [formGroup]="form?.formGroup">
    <md-input class="md-input" type="text" [attr.id]="oattr" [id]="oattr" layout-fill [formControlName]="oattr" [placeholder]="placeHolder"
        [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)" [readonly]="isReadOnly" [o-disabled]="innerInput" #innerInput>
        <md-hint *ngIf="!isReadOnly && _fControl.touched && _fControl.errors">
            <span *ngIf="_fControl.errors?.required">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</span>
            <span *ngIf="_fControl.errors?.invalidNIF"> {{ 'FORM_VALIDATION.NIF_FORMAT' | oTranslate}} </span>
            <span *ngIf="_fControl.errors?.invalidNIFLetter"> {{ 'FORM_VALIDATION.DNI_LETTER' | oTranslate}} </span>
        </md-hint>
    </md-input>
    <span class="icon-btn" [class.md-disabled]="isDisabled"><i class="material-icons">perm_identity</i></span>
</div>