@import 'node_modules/@angular/material/theming';
@mixin o-breadcrumb-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .toolbar-breadcrumb {
    background-color: mat-color($background, app-bar);

    a {
      color: mat-color($primary);
    }

    md-icon {
      color: mat-color($accent);
    }
  }

}
