<mat-toolbar class="toolbar-breadcrumb">
  <ng-template ngFor let-route let-i="index" [ngForOf]="breadcrumbs">
    <a *ngIf="!route.terminal" class="breadcrumb-item" href="" [routerLink]="[route.url]" [queryParams]="route.queryParams" layout-padding>{{ route.displayText ? route.displayText : route.text | uppercase | oTranslate }}</a>
    <span *ngIf="route.terminal" class="breadcrumb-item active" layout-padding>{{ route.displayText ? route.displayText : route.text | uppercase | oTranslate }}</span>
    <mat-icon *ngIf="!route.terminal" svgIcon="ontimize:keyboard_arrow_right"></mat-icon>
  </ng-template>
</mat-toolbar>
