<ng-container *ngIf="sidenavOpened">
  <li class="application-sidenav-menuitem application-sidenav-item">
    <a md-button *ngIf="menuItemType === 'route'" [routerLink]="[ menuItem.route ]" routerLinkActive="application-sidenav-viewer-sidenav-item-selected">
      <div fxLayout="row" fxLayoutAlign="start center">
        <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </a>

    <a md-button *ngIf="menuItemType === 'action'" (click)="onClick()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </a>

    <a md-button *ngIf="menuItemType === 'locale'" (click)="onClick()">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
        <md-icon *ngIf="isConfiguredLang()" class="configured-lang">check_circle</md-icon>
      </div>
    </a>

    <a md-button *ngIf="menuItemType === 'logout'" (click)="onClick()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </a>

    <div *ngIf="menuItemType === 'user-info'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="center center" class="user-info-avatar-wrapper">
          <img [src]="menuItem.avatar" *ngIf="menuItem.avatar" />
        </div>
      </div>
    </div>

    <div *ngIf="menuItemType === 'default'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </div>
  </li>
</ng-container>

<ng-container *ngIf="!sidenavOpened">
  <li class="application-sidenav-menuitem application-sidenav-item" [ngSwitch]="menuItemType">

    <a md-button *ngSwitchCase="'route'" [routerLink]="[ menuItem.route ]" routerLinkActive="application-sidenav-viewer-sidenav-item-selected">
      <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
    </a>

    <a md-button *ngSwitchCase="'action'" (click)="onClick()">
      <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
    </a>

    <a md-button *ngSwitchCase="'locale'" fxLayout="row" fxLayoutAlign="space-between center" (click)="onClick()">
      <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
    </a>

    <div *ngSwitchDefault>
      <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
    </div>
  </li>
</ng-container>