<ng-container *ngIf="sidenavOpened">
  <li class="application-sidenav-menuitem application-sidenav-item" [class.user-info]="isUserInfoItem()">

    <a mat-button *ngIf="!isUserInfoItem() && !isLocaleItem()" (click)="onClick()" [class.application-sidenav-viewer-sidenav-item-selected]="isActiveItem()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</mat-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </a>

    <a mat-button *ngIf="isLocaleItem()" (click)="onClick()">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</mat-icon>
        {{ menuItem.name | oTranslate }}
        <mat-icon *ngIf="isConfiguredLang()" class="configured-lang">check_circle</mat-icon>
      </div>
    </a>

    <div *ngIf="isUserInfoItem()" fxLayout="column" fxLayoutAlign="center center" class="user-info-menu-item">
      <div class="user-info-image" fxFlexFill></div>
      <div class="user-info-item" fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
        <div class="user-info-name">{{ menuItem.user }} </div>
        <o-language-selector [use-flag-icons]="useFlagIcons"></o-language-selector>
      </div>
    </div>
  </li>
</ng-container>

<ng-container *ngIf="!sidenavOpened">
  <li class="application-sidenav-menuitem application-sidenav-item">

    <a matTooltip="{{ menuItem.name | oTranslate }}" matTooltipPosition="right" mat-button *ngIf="isRouteItem() || isActionItem()"
      (click)="onClick()" [class.application-sidenav-viewer-sidenav-item-selected]="isActiveItem()">
      <mat-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</mat-icon>
    </a>

    <a matTooltip="{{ menuItem.name | oTranslate }}" matTooltipPosition="right" mat-button *ngIf="isLocaleItem()" fxLayout="row"
      fxLayoutAlign="space-between center" (click)="onClick()">
      <mat-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</mat-icon>
    </a>

    <div matTooltip="{{ menuItem.name | oTranslate }}" (click)="onClick()" matTooltipPosition="right" *ngIf="!isRouteItem() && !isActionItem() && !isLocaleItem()">
      <mat-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</mat-icon>
    </div>
  </li>
</ng-container>