@import 'node_modules/@angular/material/core/theming/theming';


@mixin combo-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  // Placeholder colors. Required is used for the `*` star shown in the placeholder.
  $md-combo-placeholder-color: md-color($foreground, hint-text);
  $md-combo-floating-placeholder-color: md-color($primary);
  $md-combo-required-placeholder-color: md-color($accent);

  // Underline colors.
  $md-combo-underline-color: md-color($foreground, hint-text);
  $md-combo-underline-color-accent: md-color($accent);
  $md-combo-underline-color-warn: md-color($warn);
  $md-combo-underline-disabled-color: md-color($foreground, hint-text);
  $md-combo-underline-focused-color: md-color($primary);


  .md-combo-placeholder {
    color: $md-combo-placeholder-color;

    // :focus is applied to the combo, but we apply md-focused to the other elements
    // that need to listen to it.
    &.md-focused {
      color: $md-combo-floating-placeholder-color;

      &.md-accent {
        color: $md-combo-underline-color-accent;
      }
      &.md-warn {
        color: $md-combo-underline-color-warn;
      }
    }
  }


  // See md-combo-placeholder-floating mixin in combo.scss
  combo:-webkit-autofill + .md-combo-placeholder,
  .md-combo-placeholder.md-float:not(.md-empty), .md-combo-placeholder.md-float.md-focused {

    .md-placeholder-required {
      color: $md-combo-required-placeholder-color;
    }
  }

  .md-combo-underline {
    border-color: $md-combo-underline-color;

    .md-combo-ripple {
      background-color: $md-combo-underline-focused-color;

      &.md-accent {
        background-color: $md-combo-underline-color-accent;
      }
      &.md-warn {
        background-color: $md-combo-underline-color-warn;
      }
    }
  }

  .md-combo {
    &.ng-invalid.ng-touched {
      .md-combo-underline {
        border-top-color: $md-combo-underline-color-warn;
        .md-combo-ripple {
          background-color: $md-combo-underline-color-warn;
        }
      }
      .md-combo-placeholder.md-focused {
        color: $md-combo-underline-color-warn;
      }
      .md-hint {
        color: $md-combo-underline-color-warn;
      }
    }
  }

}

