<mat-table [dataSource]="dataSourceTotals" class="totals-table">
  <ng-container *ngFor="let column of oTableOptions.columns" [cdkColumnDef]="column.name">
    <mat-header-cell *cdkHeaderCellDef [fxFlex]="column.width" style="display: none;">
      <!--{{ column.aggregate.title | oTranslate }}-->
    </mat-header-cell>

    <mat-cell *cdkCellDef="let row" [fxFlex]="column.width" [ngClass]="column.className">
      <div class="title" *ngIf="column.aggregate && column.aggregate.title"> {{ column.aggregate.title | oTranslate }}</div>
      <ng-container *ngIf="!column.renderer">
        <!-- <div class="title" *ngIf="column.aggregate && column.aggregate.title">-->
        {{ row[column.name] }}
      </ng-container>
      <ng-template *ngIf="column.renderer && column.aggregate" [ngTemplateOutlet]="column.renderer.templateref" [ngTemplateOutletContext]="{cellvalue: row[column.name]}"></ng-template>
    </mat-cell>
  </ng-container>


  <mat-header-row *cdkHeaderRowDef="[]" style.display="none"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: oTableOptions.visibleColumns;">
  </mat-row>
</mat-table>