<mat-table [dataSource]="dataSourceTotals" class="totals-table">

  <!--Checkbox Column -->
  <ng-container [matColumnDef]="oTableOptions.selectColumn.name" *ngIf="oTableOptions.selectColumn.visible">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
    </mat-cell>
  </ng-container>

  <ng-container *ngFor="let column of oTableOptions.columns" [matColumnDef]="column.name">
    <mat-header-cell *matHeaderCellDef [fxFlex]="column.width" style="display: none;">
      <!--{{ column.aggregate.title | oTranslate }}-->
    </mat-header-cell>

    <mat-cell *matCellDef="let row" [fxFlex]="column.width" [ngClass]="column.className">
      <div class="title" *ngIf="column.aggregate && column.aggregate.title"> {{ column.aggregate.title | oTranslate }}</div>
      <ng-container *ngIf="!column.renderer">
        <!-- <div class="title" *ngIf="column.aggregate && column.aggregate.title">-->
        {{ row[column.name] }}
      </ng-container>
      <ng-template *ngIf="column.renderer && column.aggregate" [ngTemplateOutlet]="column.renderer.templateref" [ngTemplateOutletContext]="{cellvalue: row[column.name]}"></ng-template>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="[]" style.display="none"></mat-header-row>
  <mat-row *matRowDef="let row; columns: oTableOptions.visibleColumns;">
  </mat-row>
</mat-table>