<md-table [dataSource]="dataSourceTotals" class="totals-table">
    <ng-container *ngFor="let column of oTableOptions.columns" [cdkColumnDef]="column.name">
        <md-header-cell *cdkHeaderCellDef [fxFlex]="column.width" style="display: none;"> <!--{{ column.aggregate.title | oTranslate }}-->
        </md-header-cell>

        <md-cell *cdkCellDef="let row" [fxFlex]="column.width" [ngClass]="column.className">
            <div class="title" *ngIf="column.aggregate && column.aggregate.title">  {{ column.aggregate.title | oTranslate }}</div>
            <ng-container *ngIf="!column.renderer">
                 <!-- <div class="title" *ngIf="column.aggregate && column.aggregate.title">-->
                     {{ row[column.name] }}
            </ng-container>
            <ng-template *ngIf="column.renderer" [ngTemplateOutlet]="column.renderer.templateref" [ngOutletContext]="{cellvalue: row[column.name]}"></ng-template>
        </md-cell>
    </ng-container>

   
    <md-header-row *cdkHeaderRowDef="[]" [style.display]="none"></md-header-row>
    <md-row *cdkRowDef="let row; columns: oTableOptions.visibleColumns;">
    </md-row>
</md-table>