<!-- class="totals-table" -->
<md-table [dataSource]="editableDatasource">
  <ng-container *ngFor="let column of oTableOptions.columns" [cdkColumnDef]="column.name">
    <md-header-cell *cdkHeaderCellDef style="display: none;"> </md-header-cell>

    <md-cell *cdkCellDef="let row" [fxFlex]="column.width" [ngClass]="column.className">
      <ng-container *ngIf="isColumnInsertable(column)">
        <md-form-field class="insertable-form-field">
          <input mdInput type="text" [formControl]="getControl(column)">
          <md-error *ngIf="columnHasError(column, 'required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</md-error>
        </md-form-field>
      </ng-container>
    </md-cell>
  </ng-container>


  <md-header-row *cdkHeaderRowDef="[]" style.display="none"></md-header-row>
  <md-row *cdkRowDef="let row; columns: oTableOptions.visibleColumns;">

  </md-row>
</md-table>