<mat-table [dataSource]="editableDatasource" class="editable-row-table">
  <span #container> </span>
  <ng-container *ngFor="let column of oTableOptions.columns" [matColumnDef]="column.name">
    <mat-header-cell *matHeaderCellDef style="display: none;"> </mat-header-cell>

    <mat-cell *matCellDef="let row" [fxFlex]="column.width" [ngClass]="column.className">
      <ng-container *ngIf="isColumnInsertable(column) && !useCellEditor(column)">
        <mat-form-field class="insertable-form-field" [hideRequiredMarker]="false" floatPlaceholder="never">
          <input matInput type="text" [placeholder]="getPlaceholder(column)" [id]="column.attr" [formControl]="getControl(column)" [required]="isColumnRequired(column)">
          <mat-error *ngIf="columnHasError(column, 'required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="isColumnInsertable(column) && useCellEditor(column)">
        <ng-template [ngTemplateOutlet]="columnEditors[column.attr].templateref" [ngTemplateOutletContext]="{ rowvalue: rowData }">
        </ng-template>
      </ng-container>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="[]" style.display="none"></mat-header-row>
  <mat-row *matRowDef="let row; columns: oTableOptions.visibleColumns;">

  </mat-row>
</mat-table>