@import 'node_modules/@angular/material/theming';
@mixin o-table-editable-row-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $infix-margin-top: 0.84375em;

  .o-table-editable-row {
    .mat-form-field-wrapper {
      border-bottom: $infix-margin-top / 2 solid transparent;

      .mat-form-field-infix {
        border-top: $infix-margin-top / 2 solid transparent;
      }
    }
  }
}
