.o-app-sidenav-menu-group {
  .o-app-sidenav-menugroup {
    width: 100%;
  }

  &[disabled=true] {
    .o-app-sidenav-menugroup {
      cursor: default;
    }
  }

  .mat-tooltip.menugroup-tooltip {
    margin-left: 28px;
  }
}
