<button mat-button class="application-sidenav-item application-sidenav-menugroup" [class.active]="menuGroup.opened" fxLayout="column"
  fxFill (click)="onClick()" [disabled]="disabled">
  <div fxLayout="row" fxLayoutAlign="start center" fxFill>
    <mat-icon *ngIf="menuGroup.icon">{{ menuGroup.icon }}</mat-icon>
    <h3 *ngIf="sidenavOpened">{{ menuGroup.name | oTranslate }}</h3>
    <span *ngIf="sidenavOpened" class="fill-remaining"></span>
    <mat-icon *ngIf="sidenavOpened" class="application-sidenav-menugroup-arrow">keyboard_arrow_right</mat-icon>
  </div>
</button>

<div class="application-sidenav-menugroup-items-container">
  <ul [@contentExpansion]="contentExpansion" class="application-sidenav-menugroup-ul">
    <ng-container *ngFor="let menuItem of menuGroup.items">
      <o-app-sidenav-menu-item *ngIf="menuItem['show-in-app-sidenav'] !== false" [sidenav-opened]="sidenavOpened" [menu-item]="menuItem"
        [menu-item-type]="appMenuService.getMenuItemType(menuItem)">
      </o-app-sidenav-menu-item>
    </ng-container>
  </ul>
</div>