<o-context-menu #defaultContextMenu>
  <o-context-menu-item #item icon="details" label="ver detalle" (execute)="gotoDetails(item.data)"></o-context-menu-item>
  <o-context-menu-item icon="edit" label="Editar"  (execute)="edit(item.data)"></o-context-menu-item>
  <o-context-menu-item label="insertar" icon="add" (execute)="add()"></o-context-menu-item>
  <o-context-menu-item label="copiar" icon="file_copy"></o-context-menu-item>
  <o-context-menu-item label="seleccionar todo" icon="select_all" (execute)="selectAll()" ></o-context-menu-item>
</o-context-menu>