<div layout="row" layout-fill layout-align="space-between center"  [formGroup]="form?.formGroup">
    <span *ngIf="currencySymbol !== 'none' && currencySymbolPosition === 'left' " md-suffix>{{ currency_symbols[currencySymbol] }}</span>
    <md-input class="md-input" type="number" [attr.id]="oattr" layout-fill [formControlName]="oattr"
        [placeholder]="placeHolder" [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)"
        [readonly]="isReadOnly"
        [min]="min" [max]="max" [step]="step">
        <md-hint *ngIf="!isReadOnly && _fControl.touched && _fControl.errors">
            <span *ngIf="_fControl.errors?.required">{{'FORM_VALIDATION.REQUIRED' | oTranslate}}</span>
            <span *ngIf="_fControl.errors?.min">{{ 'FORM_VALIDATION.MIN_VALUE' | oTranslate }}: {{ _fControl.errors?.min.requiredMin }}</span>
            <span *ngIf="_fControl.errors?.max">{{ 'FORM_VALIDATION.MAX_VALUE' | oTranslate }}: {{ _fControl.errors?.max.requiredMax }}</span>
            <span *ngIf="_fControl.errors?.pattern">{{ 'FORM_VALIDATION.FORMAT' | oTranslate}}</span>
        </md-hint>
    </md-input>
    <span class="icon-btn" *ngIf="currencySymbol !== 'none' && currencySymbolPosition === 'right' " md-suffix>{{ currency_symbols[currencySymbol] }}</span>
</div>
