<div layout="row" layout-fill layout-align="space-between center" [formGroup]="form?.formGroup"
    [mdTooltip]="tooltip" [mdTooltipPosition]="tooltipPosition" [mdTooltipShowDelay]="tooltipShowDelay">
    <md-input-container #innerInputContainer flex layout-fill>
        <input md-input class="md-input" type="email" [attr.id]="oattr" layout-fill [formControlName]="oattr"
            [placeholder]="placeHolder" [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)" (focus)="innerOnFocus($event)" (blur)="innerOnBlur($event)"
            [readonly]="isReadOnly" [o-disabled]="innerInputContainer">
            <md-hint *ngIf="!isReadOnly && _fControl.touched && _fControl.errors">
                <span *ngIf="_fControl.errors?.required">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</span>
                <span *ngIf="_fControl.errors?.minlength">{{ 'FORM_VALIDATION.MIN_LENGTH' | oTranslate }}: {{ _fControl.errors?.minlength.requiredLength }}</span>
                <span *ngIf="_fControl.errors?.maxlength">{{ 'FORM_VALIDATION.MAX_LENGTH' | oTranslate }}: {{ _fControl.errors?.maxlength.requiredLength }}</span>
                <span *ngIf="_fControl.errors?.invalidEmailAddress"> {{ 'FORM_VALIDATION.EMAIL_FORMAT' | oTranslate}} </span>
            </md-hint>
    </md-input-container>
    <span class="icon-btn" [class.md-disabled]="isDisabled"><i class="material-icons">mail_outline</i></span>
</div>
