.o-table-button {
  margin: 0 8px;

  .mat-stroked-button {
    padding: 0 6px;
    line-height: 30px;

    .mat-button-wrapper {
      display: flex;
      align-items: center;

      .mat-icon {
        margin-right: 4px;
      }

      span {
        flex: 1;
      }
    }
  }
}
