.o-table-button .mat-button {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: auto;
  border-radius: 0;
  height: 40px;
  padding: 0 8px;

  &:not(.disabled):hover {
    .mat-button-focus-overlay {
      background-color: transparent;
    }
  }
}
