<ng-container *ngIf="table.showButtonsText">
  <button type="button" [disabled]="!enabled" [class.disabled]="!enabled" mat-stroked-button (click)="innerOnClick()">
    <mat-icon *ngIf="isIconPositionLeft() && svgIcon !== undefined" [svgIcon]="svgIcon"></mat-icon>
    <mat-icon *ngIf="isIconPositionLeft() && svgIcon === undefined">{{ icon }}</mat-icon>
    <span *ngIf="table.showButtonsText">{{ olabel | oTranslate }}</span>
    <mat-icon *ngIf="!isIconPositionLeft() && svgIcon !== undefined" [svgIcon]="svgIcon"></mat-icon>
    <mat-icon *ngIf="!isIconPositionLeft() && svgIcon === undefined">{{ icon }}</mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="!table.showButtonsText">
  <button type="button" [disabled]="!enabled" [class.disabled]="!enabled" mat-icon-button (click)="innerOnClick()">
    <mat-icon *ngIf="isIconPositionLeft() && svgIcon !== undefined" [svgIcon]="svgIcon"></mat-icon>
    <mat-icon *ngIf="isIconPositionLeft() && svgIcon === undefined">{{ icon }}</mat-icon>
    <span *ngIf="table.showButtonsText">{{ olabel | oTranslate }}</span>
    <mat-icon *ngIf="!isIconPositionLeft() && svgIcon !== undefined" [svgIcon]="svgIcon"></mat-icon>
    <mat-icon *ngIf="!isIconPositionLeft() && svgIcon === undefined">{{ icon }}</mat-icon>
  </button>
</ng-container>