@import "src/lib/components/material/styles.scss";
@import "src/lib/components/container/o-container.component.scss";
@import "src/lib/components/container/o-container-collapsible.component.scss";
@import "src/lib/components/input/input.scss";

$mat-button-line-height: 32px;
$mat-menu-item-height: 32px;
$mat-stroked-button-line-height: $mat-button-line-height - 2;

.relative {
  position: relative;
}

.o-dialog-class,
.o-form-layout-dialog-overlay,
.o-list-picker-dialog {
  .mat-dialog-container {
    border-radius: 2px;
    margin: 0;
    padding: 24px 32px;

    .mat-dialog-title {
      cursor: default;
      padding: 0 0 8px;
      margin: 0;

    }

    .mat-dialog-content {
      padding: 16px 0;
      margin: 0;

      .mat-subheader {
        cursor: default;
        padding: 0 0 24px;

        &.inner-subheader {
          padding: 0;
        }

        + .mat-selection-list[dense] {
          margin-top: -12px;
        }
      }

      form {
        > *:not(:last-child) {
          margin-bottom: 18px;
        }
      }

      .mat-list-base[dense] {
        .mat-list-item {
          min-height: 30px;
          height: auto;
          display: flex;

          .mat-list-item-content {
            width: 100%;
            padding: 0 8px;
          }
        }
      }

      .mat-selection-list[dense] {
        overflow: auto;
        outline: none;
        padding-top: 0;
        min-height: 40px;

        .mat-list-item {
          margin: 6px 0;
          border-radius: 4px;
          cursor: default;
        }

        p {
          white-space: normal;
        }
      }
    }

    .mat-dialog-actions {
      margin: 0;
      padding-top: 16px;
      min-height: 0;
      padding-bottom: 0;

      button {
        min-width: 104px;
      }
    }
  }

}

.fill-remaining {
  flex: 1 1 auto;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

$steps: 6;
@mixin padding-margin-x {
   @for $i from 1 through $steps{
    $val: $i * 4;

    .vertical-padding-#{$val} {
      padding-top: $val * 1px;
      padding-bottom: $val * 1px;
    }

    .horizontal-padding-#{$val} {
      padding-left: $val * 1px;
      padding-right: $val * 1px;
    }

    .vertical-margin-#{$val} {
      margin-top: $val * 1px;
      margin-bottom: $val * 1px;
    }

    .horizontal-margin-#{$val} {
      margin-left: $val * 1px;
      margin-right: $val * 1px;
    }
  }
}
@include padding-margin-x();

button {
  &.mat-button,
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-stroked-button {
    min-width: 112px;
  }

  &.mat-button,
  &.mat-flat-button,
  &.mat-icon-button,
  &.mat-raised-button {
    height: $mat-button-line-height;
    line-height: $mat-button-line-height;
  }

  &.mat-stroked-button {
    height: $mat-button-line-height;
    line-height: $mat-stroked-button-line-height;
  }

  &.mat-icon-button {
    width: $mat-button-line-height;
  }
}

.o-table-apply-configuration-dialog-list.mat-selection-list.mat-list-base[dense] .mat-list-option.mat-list-text,
.o-table-load-filter-dialog-list.mat-list-base[dense] .mat-list-option.mat-list-text {
  .o-table-apply-configuration-dialog-list-title,
  .o-table-load-filter-dialog-list-title {
    font-weight: bold;

  }
}

/*MAT MENU*/
.o-mat-menu.mat-menu-panel {
  .mat-menu-item {
    line-height: $mat-menu-item-height;
    height: $mat-menu-item-height;
  }
}

.overlay-ref-display-none .cdk-overlay-pane.o-context-menu {
  display: none;
}
