@import "src/lib/components/material/styles.scss";
@import "src/lib/components/container/o-container.component.scss";
@import "src/lib/components/container/o-container-collapsible.component.scss";
@import "src/lib/components/input/input.scss";

$mat-button-line-height: 32px;
$mat-menu-item-height: 32px;
$mat-calendar-prev-next-icon-margin: 11.5px;
$mat-stroked-button-line-height: $mat-button-line-height - 2;

.relative {
  position: relative;
}

.o-dialog-class,
.o-form-layout-dialog-overlay,
.o-list-picker-dialog {
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-surface {
      padding: 24px 32px;
      border-radius: 2px;


      .mat-mdc-dialog-title {
        cursor: default;
        padding: 0 0 8px;
        margin: 0;

        &::before {
          height: auto;
        }
      }

      .mat-mdc-dialog-content {
        padding: 16px 0;
        margin: 0;

        .mat-mdc-subheader {
          cursor: default;
          padding: 0 0 24px;

          &.inner-subheader {
            padding: 0;
          }

          +.mat-mdc-selection-list[dense] {
            margin-top: -12px;
          }
        }

        form {
          >*:not(:last-child) {
            margin-bottom: 18px;
          }
        }

        .mat-mdc-list-base {

          &[dense] {
            .mat-mdc-list-item {
              min-height: 30px;
              height: auto;
              display: flex;
              padding: 0 8px;

              .mdc-list-item__content,
              .mat-mdc-list-item-meta {
                width: 100%;
                align-self: center;

                .mat-mdc-list-item-icon {
                  margin-top: 0;
                  padding: 4px;
                }

                .mdc-list-item__first-text,
                .mdc-list-item__secondary-text {
                  &::before {
                    display: flex;
                  }
                }

                .mdc-list-item__secondary-text {
                  padding: 0 8px;

                  &::before {
                    height: auto;
                  }
                }

              }
            }

          }

          &.mat-mdc-selection-list[dense] {
            overflow: auto;
            outline: none;
            padding-top: 0;
            min-height: 40px;

            .mat-mdc-list-item {
              margin: 6px 0;
              border-radius: 4px;
              cursor: default;


              .mdc-list-item__start {
                margin-top: 0;
              }
            }

            p {
              white-space: normal;
            }
          }
        }
      }

      .mat-mdc-dialog-actions {
        padding: 16px 0 0 0;
        min-height: 0;

        button {
          min-width: 104px;
        }
      }
    }
  }

}

.fill-remaining {
  flex: 1 1 auto;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

$steps: 6;

@mixin padding-margin-x {
  @for $i from 1 through $steps {
    $val: $i * 4;

    .vertical-padding-#{$val} {
      padding-top: $val * 1px;
      padding-bottom: $val * 1px;
    }

    .horizontal-padding-#{$val} {
      padding-left: $val * 1px;
      padding-right: $val * 1px;
    }

    .vertical-margin-#{$val} {
      margin-top: $val * 1px;
      margin-bottom: $val * 1px;
    }

    .horizontal-margin-#{$val} {
      margin-left: $val * 1px;
      margin-right: $val * 1px;
    }
  }
}

@include padding-margin-x();

button.mat-mdc-button-base {

  &.mat-mdc-button,
  &.mat-mdc-unelevated-button,
  &.mat-mdc-raised-button,
  &.mat-mdc-outlined-button {
    min-width: 112px;
  }

  &.mat-mdc-button,
  &.mat-mdc-unelevated-button,
  &.mat-mdc-icon-button,
  &.mat-mdc-raised-button,
  &.mat-mdc-outlined-button {
    height: $mat-button-line-height;
    line-height: $mat-button-line-height;

    .mat-mdc-button-touch-target {
      height: $mat-button-line-height;
    }

    >.mat-icon{
      line-height: 1;
    }
  }

  &.mat-mdc-outlined-button {
    height: $mat-button-line-height;
    line-height: $mat-stroked-button-line-height;
  }

  &.mat-mdc-icon-button {
    width: $mat-button-line-height;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .mat-mdc-button-touch-target {
      width: $mat-button-line-height;
    }
  }
}

.o-table-apply-configuration-dialog-list.mat-mdc-selection-list.mat-mdc-list-base[dense],
.o-table-load-filter-dialog-list.mat-mdc-list-base[dense] {

  .o-table-apply-configuration-dialog-list-title,
  .o-table-load-filter-dialog-list-title {
    font-weight: bold;

  }
}



/*MAT MENU*/
.o-mat-menu.mat-mdc-menu-panel {
  .mat-mdc-menu-item {
    line-height: $mat-menu-item-height;
    height: $mat-menu-item-height;
    min-height: $mat-menu-item-height;
  }
}

.overlay-ref-display-none .cdk-overlay-pane.o-context-menu {
  display: none;
}

/* DATE PICKER */
.mat-calendar-controls {

  button.mat-calendar-next-button,
  button.mat-calendar-previous-button {
    &::after {
      margin: $mat-calendar-prev-next-icon-margin;
    }
  }
}