<md-tab-group #tabGroup fxFill *ngIf="isTabMode(); else elseBlock">
  <md-tab label="{{ 'LAYOUT_MANANGER.MAIN_TAB' | oTranslate }}">
    HOLA1
    <ng-content *ngIf="isTabMode();"></ng-content>
  </md-tab>

  <md-tab *ngFor="let compData of detailComponentsData; let i = index">
    <ng-template mat-tab-label>
      <span class="tab-label">
        {{ i | oTranslate }}
      </span>
      <md-icon (click)="onCloseTab(i)">close</md-icon>
    </ng-template>

    <ng-template o-form-layout-manager-content [index]="i"></ng-template>
  </md-tab>
</md-tab-group>

<ng-template #elseBlock>
  HOLA2
  <ng-content *ngIf="isDialogMode()"></ng-content>
</ng-template>