<md-tab-group #tabGroup fxFill *ngIf="isTabMode(); else elseBlock" (selectChange)="onTabSelectChange()">
  <md-tab label="{{ 'LAYOUT_MANANGER.MAIN_TAB' | oTranslate }}">
    <ng-content *ngTemplateOutlet="elseBlock"></ng-content>
  </md-tab>

  <md-tab *ngFor="let tabData of tabsCache; let i = index">
    <ng-template mat-tab-label>
      <span class="tab-label">
        {{ tabData.label }}
      </span>
      <md-icon (click)="onCloseTab(i)">close</md-icon>
    </ng-template>

    <ng-template o-form-layout-manager-content [index]="i"></ng-template>
  </md-tab>
</md-tab-group>

<ng-template #elseBlock>
  <ng-content></ng-content>
</ng-template>