<span mat-dialog-title>{{ 'TABLE.BUTTONS.FILTER_LOAD' | oTranslate }}</span>

<mat-dialog-content>
  <span mat-subheader>{{ 'TABLE.DIALOG.LOAD_FILTER' | oTranslate }}</span>
  <mat-selection-list #filterList class="o-table-load-filter-dialog-list">
    <mat-list-option checkboxPosition="before" *ngFor="let filter of filters; let i = index" [value]="filter.name">
      <span matLine>{{ filter.name }}</span>
      <span matLine>{{ filter.description }}</span>
      <button type="button" mat-icon-button aria-label="Delete" (click)="removeFilter(i)">
        <mat-icon svgIcon="ontimize:delete"></mat-icon>
      </button>
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="mat-primary" (click)="onDialogClose(false)">{{ 'CANCEL' | oTranslate }}</button>
  <button mat-button class="mat-primary" (click)="onDialogClose(true)" [mat-dialog-close]="true" [disabled]="filterList.selectedOptions.selected.length!==1">{{ 'SAVE' | oTranslate }}</button>
</mat-dialog-actions>