.o-date-input {
  width: calc(100% - 32px);
}

.input-model {
  display: none !important;
}

div.ui-datepicker {
  box-shadow: 2px 5px 15px 1px rgba(0,0,0,.65);
  border-radius: 3px;
  margin-top: 10px;
  width: auto;
  padding: 0;
  z-index: 901!important;

  td span,
  td a {
    margin-left: auto;
    margin-right: auto;
  }

  .ui-datepicker-custom-header {
    padding-left: 24px;

    span {
      cursor: default;
      font-weight: bold;
    }

    .ui-datepicker-custom-title {
      padding: 16px 0 8px 0;
      opacity: .5;
    }

    .ui-datepicker-custom-text {
      padding-bottom: 16px;
      font-size: 2em;
    }
  }

  .ui-datepicker-custom-body-container {
    padding: 0 8px;
  }

  .ui-datepicker-header {
    text-align: center;
    padding: 16px 0;
    font-weight: 300;

    .ui-datepicker-month,
    .ui-datepicker-day-num,
    .ui-datepicker-year {
      font-weight: 700;
      text-align: center;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
      position:relative;
      float:left;
      width:20px;
      height:20px;
    }

    .ui-datepicker-next {
      float:right;
    }

    .ui-datepicker-prev i,
    .ui-datepicker-next i {
      cursor: pointer;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next,
    .ui-datepicker-title {
      border: none;
      outline: none;
      margin: 0;
    }

    .ui-datepicker-title {
      font-size: 0.85em;
    }

    .ui-datepicker-prev-hover {
      left: 2px;
    }

    .ui-datepicker-next-hover {
      right: 2px;
    }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover {
      top: 2px;
    }

  }

  .ui-datepicker-calendar {
    .ui-state-default {
      text-align: center;
      height: 32px;
      width: 32px;
      line-height: 32px;
    }

    .ui-state-active {
      border-radius: 50%;
    }

    thead th {
      font-weight: 200;
      text-transform: uppercase;
    }

  }

  .ui-datepicker-buttonpane {
    display: none;
  }

  .ui-datepicker-custom-buttonpane {
    padding: 16px 0 6px 0;
  }


}
