@import 'node_modules/@angular/material/theming';


@mixin o-date-input-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $color-inactive: #999999;

    div.ui-datepicker {
      background-color: mat-color($background, dialog);

      .ui-datepicker-custom-header {
        background: mat-color($primary);
        color: #fafafa;
      }

      .ui-datepicker-header {
        .ui-datepicker-prev,
        .ui-datepicker-next,
        .ui-datepicker-title {
          color: mat-color($foreground, text);
        }
      }

      .ui-datepicker-calendar {
        .ui-state-default {
          background: none;
          border: none;

          &.ui-priority-secondary {
            color: $color-inactive;
            opacity: 0.75;
          }
        }
        .ui-state-highlight {
          color: mat-color($primary);
        }

        .ui-state-active {
          background-color: mat-color($primary);
          color: white;
        }

        thead th {
          color: $color-inactive;
        }

        tr td a {
          color : mat-color($foreground, text);
        }
      }

    }


}

