<div class="user-info-container" fxLayout="row" fxLayoutAlign="center">
  <ng-container *ngIf="existsUserInfo">
    <div class="user-info-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="center center" class="user-info-avatar-wrapper">
        <img [src]="avatar" *ngIf="avatar" />
      </div>
      <span class="user-info-username" *ngIf="username"> {{ username }}</span>
      <md-icon [mdMenuTriggerFor]="menu">keyboard_arrow_down</md-icon>
    </div>
    <md-menu #menu="mdMenu" yPosition="below">
      <button md-menu-item (click)="onSettingsClick()">
        <md-icon>settings</md-icon>
        <span>{{ 'SETTINGS' | oTranslate }}</span>
      </button>
      <button md-menu-item (click)="onLogoutClick()">
        <md-icon>power_settings_new</md-icon>
        <span>{{ 'LOGOUT' | oTranslate }}</span>
      </button>
    </md-menu>
  </ng-container>
  <o-language-selector></o-language-selector>
</div>
