<div class="user-info-container" *ngIf="userInfo">
  <div class="user-info-wrapper" layout="row" layout-align="center center" [mdMenuTriggerFor]="menu">
    <div class="user-info-avatar-wrapper">
      <img [src]="userInfo.avatar" *ngIf="userInfo.avatar" />
    </div>
    <span class="user-info-username" *ngIf="userInfo.username"> {{ userInfo.username }}</span>
    <md-icon>keyboard_arrow_down</md-icon>
  </div>
  <md-menu #menu="mdMenu" yPosition="below">
    <button md-menu-item (click)="onLogoutClick()">
      <md-icon>power_settings_new</md-icon>
      <span>{{ 'LOGOUT' | oTranslate }}</span>
    </button>
  </md-menu>
</div>