.o-combo {
  .read-only .mat-select-arrow-wrapper {
    visibility: hidden;
  }

  .read-only .mat-form-field-underline {
    background-image: none;
  }

  .mat-select {
    line-height: normal;
  }
}
