<div [formGroup]="getFormGroup()" [matTooltip]="tooltip" [matTooltipClass]="tooltipClass" [matTooltipPosition]="tooltipPosition"
  [matTooltipShowDelay]="tooltipShowDelay" [matTooltipHideDelay]="tooltipHideDelay">
  <mat-form-field [appearance]="appearance" [floatLabel]="floatLabel" [class.read-only]="isReadOnly"
    [class.custom-width]="hasCustomWidth" fxFlexFill>
    <mat-label>{{ olabel }}</mat-label>
    <mat-select [value]="getValue()" #selectModel [id]="getAttribute()" fxFill [formControlName]="getAttribute()"
      [placeholder]="placeHolder" [multiple]="getMultiple()" [required]="isRequired" (selectionChange)="onSelectionChange($event)">

      <mat-select-trigger *ngIf="multiple && multipleTriggerLabel">
        {{ selectModel.selected[0] ? getFirstSelectedValue(): '' }}
        <span *ngIf="getFormControl().value.length > 1">
          {{ 'INPUT.COMBO.MESSAGE_TRIGGER' | oTranslate: { values: [getFormControl().value.length -1] } }}
        </span>
      </mat-select-trigger>

      <mat-option *ngIf="hasNullSelection()" [value]="null"></mat-option>
      <mat-option *ngFor="let item of getDataArray(); let rowIndex = index" [value]="getValueColumn(item)">
        {{ getOptionDescriptionValue(item) }}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="hasError('required')" text="{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}"></mat-error>
    <mat-error *ngFor="let oError of getActiveOErrors()" text="{{ oError.text | oTranslate }}"></mat-error>
  </mat-form-field>
</div>