<button md-button *ngIf="otype==='FLOATING'" type="button" md-fab class="md-fab" [ngClass]="{'md-icon-button': icon!=undefined && (olabel===undefined || olabel==='')}">
  <span class="md-button-wrapper">
    <img src="{{image}}" class="o-button-image" *ngIf="image!=undefined"/>
    <i md-icon class="material-icons o-button-icon" *ngIf="icon!=undefined" style="vertical-align:middle">{{icon}}</i>
  </span>
  <br *ngIf="iconposition==='top'" />
  <span *ngIf="olabel!=undefined" class="o-button-text">{{olabel | oTranslate}}</span>
</button>

<button md-button *ngIf="otype==='RAISED' || !otype" type="button" md-raised-button class="md-fab" [ngClass]="{'md-icon-button': icon!=undefined && (olabel===undefined || olabel==='')}">
  <span class="md-button-wrapper">
    <img src="{{image}}" class="o-button-image" *ngIf="image!=undefined"/>
    <i md-icon class="material-icons o-button-icon" *ngIf="icon!=undefined" style="vertical-align:middle">{{icon}}</i>
  </span>
  <br *ngIf="iconposition==='top'" />
  <span *ngIf="olabel!==undefined" class="o-button-text">{{olabel  | oTranslate}}</span>
</button>

<button md-button *ngIf="otype==='FLAT'" type="button" class="md-fab" [ngClass]="{'md-icon-button': icon!=undefined && (olabel===undefined || olabel==='')}">
  <span class="md-button-wrapper">
    <img src="{{image}}" class="o-button-image" *ngIf="image!=undefined"/>
    <i md-icon class="material-icons o-button-icon" *ngIf="icon!=undefined" style="vertical-align:middle">{{icon}}</i>
  </span>
  <br *ngIf="iconposition==='top'" />
  <span *ngIf="olabel!=undefined" class="o-button-text">{{olabel | oTranslate}}</span>
</button>