@import 'node_modules/@angular/material/theming';
@mixin o-context-menu-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-context-menu-content .dropdown-menu {
    background-color: mat-color($background, dialog);
  }

  .o-context-menu-item,
  .o-context-menu-item a {
    color: mat-color($foreground, secondary-text);
  }
}