<mat-tab-group #tabGroup oTabGroup="ontimize" fxFill [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabSelectChange($event)">
  <mat-tab label="{{ (title || 'LAYOUT_MANANGER.MAIN_TAB_LABEL') | oTranslate }}">
    <ng-content></ng-content>
  </mat-tab>

  <mat-tab *ngFor="let tabData of data; let i = index">
    <ng-template mat-tab-label>
      <span class="tab-label" [class.modified]="tabData.modified">
        {{ tabData.label }}
      </span>
      <mat-icon (click)="onCloseTab(tabData.id)" svgIcon="ontimize:close"></mat-icon>
    </ng-template>

    <ng-template o-form-layout-manager-content [index]="i"></ng-template>
  </mat-tab>
</mat-tab-group>
<div *ngIf="showLoading" class="spinner-container"  fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
</div>