<md-tab-group #tabGroup fxFill (selectChange)="onTabSelectChange()">
  <md-tab label="{{ (title || 'LAYOUT_MANANGER.MAIN_TAB_LABEL') | oTranslate }}">
    <ng-content></ng-content>
  </md-tab>

  <md-tab *ngFor="let tabData of data; let i = index">
    <ng-template mat-tab-label>
      <span class="tab-label" [class.modified]="tabData.modified">
        {{ tabData.label }}
      </span>
      <md-icon (click)="onCloseTab(i)">close</md-icon>
    </ng-template>

    <ng-template o-form-layout-manager-content [index]="i"></ng-template>
  </md-tab>
</md-tab-group>