.o-form-layout-tabgroup {
  .mat-tab-group {

    .mat-tab-label {
      span.tab-label {
        width: 100%;
        max-width: 120px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &.modified {
          font-weight: 700;
          &:after {
            content: '*';
          }
        }
      }
      .mat-icon {
        height: 16px;
        width: 16px;
        font-size: 16px;
        padding-left: 4px;
        vertical-align: middle;
      }
    }

    .mat-tab-body-wrapper {
      height: 100%;
    }

    o-form-toolbar {
      padding: 0;
      top: 0px!important;
        .mat-toolbar {
          box-shadow: none;
          border-radius: 0;
          }
    }
  }
}
