<div fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="getFormGroup()" [mdTooltip]="tooltip" [mdTooltipPosition]="tooltipPosition"
  [mdTooltipShowDelay]="tooltipShowDelay">
  <md-form-field #innerInputContainer fxFlexFill>
    <input mdInput type="password" [attr.id]="getAttribute()" [formControlName]="getAttribute()" [placeholder]="placeHolder"
      [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)" (focus)="innerOnFocus($event)" (blur)="innerOnBlur($event)"
      [readonly]="isReadOnly">
    <md-icon mdSuffix [class.mat-disabled]="isDisabled">vpn_key</md-icon>

    <md-error *ngIf="hasError('required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</md-error>
    <md-error *ngIf="hasError('minlength')">{{ 'FORM_VALIDATION.MIN_LENGTH' | oTranslate }}: {{ getErrorValue('minlength', 'requiredLength') }}</md-error>
    <md-error *ngIf="hasError('maxlength')">{{ 'FORM_VALIDATION.MAX_LENGTH' | oTranslate }}: {{ getErrorValue('maxlength', 'requiredLength') }}</md-error>
  </md-form-field>

</div>
