<div fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="getFormGroup()" [matTooltip]="tooltip" [matTooltipPosition]="tooltipPosition"
  [matTooltipShowDelay]="tooltipShowDelay">
  <mat-form-field #innerInputContainer fxFlexFill>
    <input matInput type="password" [attr.id]="getAttribute()" [formControlName]="getAttribute()" [placeholder]="placeHolder"
      [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)" (focus)="innerOnFocus($event)" (blur)="innerOnBlur($event)"
      [readonly]="isReadOnly" [required]="isRequired">
    <mat-icon matSuffix [class.mat-disabled]="isDisabled">vpn_key</mat-icon>

    <mat-error *ngIf="hasError('required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</mat-error>
    <mat-error *ngIf="hasError('minlength')">{{ 'FORM_VALIDATION.MIN_LENGTH' | oTranslate }}: {{ getErrorValue('minlength', 'requiredLength') }}</mat-error>
    <mat-error *ngIf="hasError('maxlength')">{{ 'FORM_VALIDATION.MAX_LENGTH' | oTranslate }}: {{ getErrorValue('maxlength', 'requiredLength') }}</mat-error>
  </mat-form-field>

</div>
