<ng-container *ngIf="showNavigation()">
  <mat-icon aria-label="First" (click)="first()" layout-padding [class.mat-disabled]="isFirst()"> first_page</mat-icon>
  <mat-icon aria-label="Previous" (click)="previous()" layout-padding [class.mat-disabled]="isFirst()">keyboard_arrow_left</mat-icon>
  <span>{{ currentIndex + 1 }} / {{ navigationData.length }}</span>
  <mat-icon aria-label="Next" (click)="next()" layout-padding [class.mat-disabled]="isLast()">keyboard_arrow_right</mat-icon>
  <mat-icon aria-label="Last" (click)="last()" layout-padding [class.mat-disabled]="isLast()">last_page</mat-icon>
</ng-container>
