@import 'node_modules/@angular/material/theming';
@mixin o-container-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-column,
  .o-column-collapsible,
  .o-row,
  .o-row-collapsible {
    > .o-container {
      &.mat-expansion-panel {
        background-color: inherit;
      }

      .o-container-header,
      .o-container-title {
        border-color: mat-color($primary);
        color: mat-color($foreground, text);
      }

      .o-container-title {
        color: mat-color($foreground, secondary-text);
      }
    }
  }

  .o-column.o-appearance-outline,
  .o-row.o-appearance-outline {
    > .o-container {
      .o-container-title {
        span {
          color: mat-color($foreground, text);
        }
      }
    }

    .o-container-outline {
      .o-container-outline-end,
      .o-container-outline-gap,
      .o-container-outline-start {
        border-color: mat-color($primary);
      }
    }
  }

}
