  .o-container {
    box-sizing: border-box;
  
  }

  .o-container-title-item {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .container-title {
    margin: 0px 4px;
    span {
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 0px;
      padding-left: 4px;
    }
  }

  .margin-top-bottom {
    margin: 8px 0px;
  }

  .o-container-content-item {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .container-content {
    padding: 8px 4px;
  }


 /*
      Legacy Firefox implementation treats all flex containers
      as inline-block elements.
  */
  @-moz-document url-prefix() {
  .o-container {
      width: 100%;
      -moz-box-sizing: border-box;
      }

  }