@import 'node_modules/@angular/material/theming';
@mixin o-container-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-column,
  .o-column-collapsible,
  .o-row,
  .o-row-collapsible {
    > .o-container {
      &.mat-expansion-panel {
        background-color: inherit;
      }

       > .o-container-header,
       > .o-container-title,
      > .mat-expansion-panel-header {
        border-color: mat-color($foreground, divider);
        color: mat-color($foreground, text);

        .mat-tab-label,
        .mat-tab-link {
          color: mat-color($foreground, text);
        }

      }
    }
  }

  .o-column-collapsible.o-appearance-outline,
  .o-column.o-appearance-outline,
  .o-row-collapsible.o-appearance-outline,
  .o-row.o-appearance-outline {
    > .o-container {
      .o-container-title {
        color: mat-color($foreground, text);
      }
    }

    .o-container-outline {
      .o-container-outline-end,
      .o-container-outline-gap,
      .o-container-outline-gap-description,
      .o-container-outline-gap-empty1,
      .o-container-outline-gap-empty2,
      .o-container-outline-gap-icon,
      .o-container-outline-gap-title,
      .o-container-outline-start {
        border-color: mat-color($foreground, divider);
      }
    }
  }
}
