.o-column,
.o-row {
  display: block;

  &[class*="mat-elevation-z"] {
    margin: 8px 0;
  }

  > .o-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .o-container-title {
      cursor: default;
      margin: 0 4px;
      height: 39px;
      border-bottom-width: 1px;
      border-bottom-style: solid;

      span {
        padding-left: 8px;
      }
    }

    .o-container-scroll {
      overflow: auto;
      height: 100%;

      &.o-container-gap {
        padding: 24px 30px 8px;
      }
    }
  }
}

/* Legacy Firefox implementation treats all flex containers as inline-block elements. */
@-moz-document url-prefix() {
  .o-column .o-container,
  .o-row .o-container {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
