.o-column,
.o-row {
  &[class*="mat-elevation-z"] {
    margin: 8px 0;
  }

  &[class*="o-appearance-outline"] {
    margin: 16px 0 8px;
    box-shadow: none;
  }

  > .o-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .o-container-title {
      margin: 0 4px;
      height: 39px;
      border-bottom-width: 2px;
      border-bottom-style: solid;

      span {
        font-weight: 400;
        font-size: 18px;
        padding-left: 8px;
      }
    }

    .o-container-scroll {
      overflow: auto;

      .o-container-content {
        height: 100%;

        &.o-container-content-gap {
          padding: 24px 30px 8px;
        }
      }
    }
  }

  &.o-appearance-outline {
    > .o-container {
      .o-container-title {
        position: absolute;
        border-bottom: 0;
        transform: translate(0, -50%);
        margin-left: 18px;

        span {
          font-weight: bold;
        }
      }
    }

    .o-container-outline {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;

      .o-container-outline-end,
      .o-container-outline-start {
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 2px;
        min-width: 5px;
      }

      .o-container-outline-start {
        border-radius: 5px 0 0 5px;
        border-right-style: none;
        border-left-style: solid;
      }

      .o-container-outline-end {
        border-radius: 0 5px 5px 0;
        border-left-style: none;
        border-right-style: solid;
        flex-grow: 1;
      }

      .o-container-outline-gap {
        border-bottom-style: solid;
        border-width: 2px;

        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
      }
    }
  }

}

/* Legacy Firefox implementation treats all flex containers as inline-block elements. */
@-moz-document url-prefix() {
  .o-column .o-container,
  .o-row .o-container {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
