@import 'node_modules/@angular/material/theming';
@mixin o-container-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-container {
    .o-container-title {
      border-bottom: 2px solid mat-color($primary);

      span {
        font-weight: 400;
      }
    }

    .o-container-content-gap {
      padding: 24px 30px 8px;
    }

    .o-container-title {
      color: mat-color($foreground, secondary-text);
    }
  }
}
