.o-column-collapsible,
.o-row-collapsible {
  &[class*="mat-elevation-z"] {
    margin: 8px 0;
  }

  > .o-container {
    &.mat-expansion-panel {
      box-shadow: none;
    }

    .o-container-header {
      margin: 0 4px;
      padding-left: 8px;
      border-bottom-width: 2px;
      border-bottom-style: solid;

      .o-container-title span {
        font-weight: 400;
        font-size: 18px;
        padding-left: 8px;
      }
    }

    .mat-expansion-panel-content {
      // font: inherit;
      font-style: inherit;
      font-variant-ligatures: inherit;
      font-variant-caps: inherit;
      font-variant-numeric: inherit;
      font-variant-east-asian: inherit;
      font-weight: inherit;
      font-stretch: inherit;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;

      .mat-expansion-panel-body {
        padding: 0;

        .o-container-scroll {
          overflow: auto;

          .o-container-content {
            height: 100%;
            padding: 24px 30px 8px;
          }
        }
      }
    }
  }
}
