@import 'node_modules/@angular/material/theming';

@mixin o-list-picker-theme($theme) {

  o-list-picker-dialog  mat-toolbar  o-search-input {
      font-size: 16px;

      &.list-picker-search .mat-input-placeholder,
      span.icon-btn {
          color:  mat-color($primary, default-contrast);
      }
      &.list-picker-search .mat-input-underline {
          border-color: mat-color($primary, default-contrast, 0.78);
          .mat-input-ripple {
              background-color: mat-color($primary, default-contrast);
          }
      }
  }

}
