.o-list-picker-content {
  .input-model {
    display:none !important;
  }
  mat-icon {
    cursor: pointer;
    &.mat-disabled {
      cursor: default;
    }
  }
}

.cdk-overlay-list-picker {
  .mat-dialog-container {
    padding: 0;
  }
  .mat-dialog-actions {
    padding: 12px 24px;
  }
}

.o-list-picker-dialog  {
  mat-toolbar {
    &.mat-toolbar {
      padding-top: 16px;
    }
    o-search-input,
    o-search-input mat-form-field {
      width: 100%;
    }
  }

  .dialog-list-container {
    /*133 = 72 (toolbar) + 61 (dialog buttons)*/
    max-height: calc(100% - 133px);
    min-height: calc(100% - 133px);
    margin: 0px;

    mat-list {
      margin: 12px 0;
      mat-list-item {
        cursor: pointer;
      }
    }
  }
}
