.cdk-overlay-list-picker .mat-dialog-container {
  padding: 0;
}

.o-list-picker-dialog {
  .mat-toolbar {
    padding-top: 16px;

    o-search-input,
    o-search-input mat-form-field {
      width: 100%;
    }
  }

  .mat-dialog-content {
    margin: 0;

    // 100% - buttons (61px)
    max-height: calc(100% - 61px);
    min-height: calc(100% - 61px);

    &.o-list-picker-has-filter {
      // 100% - toolbar (64px) - buttons (61px)
      max-height: calc(100% - 125px);
      min-height: calc(100% - 125px);
    }

    mat-list mat-list-item {
      cursor: pointer;
    }
  }

  .mat-dialog-actions {
    padding: 12px 24px;
  }
}
@media(max-width: 599px) {
  .o-list-picker-dialog .mat-dialog-content.o-list-picker-has-filter {
    // 100% - toolbar (56px) - buttons (61px)
    max-height: calc(100% - 117px);
    min-height: calc(100% - 117px);
  }
}
