<div layout="row" layout-fill layout-align="space-between center" [formGroup]="form?.formGroup" (click)="onClickListpicker($event)"
    [mdTooltip]="tooltip" [mdTooltipPosition]="tooltipPosition" [mdTooltipShowDelay]="tooltipShowDelay">
    <input mdInput #inputModel class="mat-input input-model" type="text" [attr.id]="oattr" [id]="oattr" layout-fill [formControlName]="oattr"
         [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)">

    <md-input-container #innerInputContainer flex layout-fill
        [class.ng-untouched]="_fControl && _fControl.untouched"
        [class.ng-touched]="_fControl && _fControl.touched"
        [class.ng-dirty]="_fControl && _fControl.dirty"
        [class.ng-pristine]="_fControl && _fControl.pristine"
        [class.ng-invalid]="_fControl && !_fControl.valid"
        [class.ng-valid]="_fControl && _fControl.valid">
        <input mdInput class="mat-input" type="text" [attr.id]="'desc_' + oattr" [id]="'desc_' + oattr" layout-fill
            [class.ng-untouched]="_fControl && _fControl.untouched"
            [class.ng-touched]="_fControl && _fControl.touched"
            [class.ng-dirty]="_fControl && _fControl.dirty"
            [class.ng-pristine]="_fControl && _fControl.pristine"
            [class.ng-invalid]="_fControl && !_fControl.valid"
            [class.ng-valid]="_fControl && _fControl.valid"
            [placeholder]="placeHolder" [value]="getDescriptionValue()" (focus)="onFocus($event)" (blur)="onBlur($event)"
            [readonly]="isReadOnly" [disabled]="isDisabled" [o-disabled]="innerInputContainer">
            <md-hint *ngIf="!isReadOnly && _fControl.touched && _fControl.errors">
                <span *ngIf="_fControl.errors?.required">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</span>
            </md-hint>
    </md-input-container>

    <span class="icon-btn" [class.mat-disabled]="isDisabled"><i class="material-icons">search</i></span>
    <span class="icon-btn" [class.mat-disabled]="isDisabled" (click)="onClickClear($event)"><i class="material-icons">clear</i></span>
</div>