<div fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="getFormGroup()" (click)="onClickListpicker($event)"
  [matTooltip]="tooltip" [matTooltipPosition]="tooltipPosition" [matTooltipShowDelay]="tooltipShowDelay" class="o-list-picker-content">

  <mat-form-field #innerInputContainer fxFlexFill>
    <input matInput type="text" [id]="getAttribute()" [placeholder]="placeHolder" [formControlName]="getAttribute()" [ngModel]="getValue()"
      (ngModelChange)="innerOnChange($event)" [value]="getDescriptionValue()" (focus)="innerOnFocus($event)" (blur)="innerOnBlur($event)"
      [readonly]="isReadOnly" [disabled]="isDisabled" [required]="isRequired">

    <mat-icon [class.mat-disabled]="isDisabled" matSuffix>search</mat-icon>
    <mat-icon [class.mat-disabled]="isDisabled" (click)="onClickClear($event)" matSuffix>clear</mat-icon>
    <mat-error *ngIf="hasError('required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</mat-error>
  </mat-form-field>
</div>