.o-list-picker-content {

  mat-icon {
    cursor: pointer;
  }
}

.dialog-list-container {
  mat-list {
    margin: 12px 0;
    mat-list-item {
      cursor: pointer;
    }
  }
}

.o-list-picker-dialog  mat-toolbar {
  &.mat-toolbar .mat-toolbar-row {
    padding-top: 8px;
    box-sizing: content-box;
  }
  o-search-input,
  o-search-input mat-form-field {
    width: 100%;
  }
}

