.o-list-picker-content {
  .input-model {
    display: none !important;
  }

  md-icon {
    cursor: pointer;
  }
}

.dialog-list-container {
  md-list {
    margin: 12px 0;
    md-list-item {
      cursor: pointer;
    }
  }
}

o-list-picker-dialog  md-toolbar {
  &.mat-toolbar .mat-toolbar-row {
    padding-top: 8px;
    box-sizing: content-box;
  }
  o-search-input,
  o-search-input md-form-field {
    width: 100%;
  }
}

