<div [style.width]="width" fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="getFormGroup()" [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition" [matTooltipShowDelay]="tooltipShowDelay" class="custom-error o-list-picker-content">
  <input #inputModel class="input-model" type="text" [attr.id]="getAttribute()" [id]="getAttribute()" [formControlName]="getAttribute()"
    [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)">

  <mat-form-field [class.custom-width]="hasCustomWidth" #innerInputContainer fxFlexFill>
    <input matInput type="text" [attr.id]="'desc_' + getAttribute()" [id]="'desc_' + getAttribute()" [placeholder]="placeHolder"
      [value]="getDescriptionValue()" (input)="onVisibleInputChange($event)" (focus)="innerOnFocus($event)" (blur)="innerOnBlur($event)"
      [readonly]="isReadOnly" [disabled]="isDisabled" [required]="isRequired" #visibleInput (keydown.enter)="onKeydownEnter(visibleInput.value)">
    <mat-icon [class.mat-disabled]="isDisabled" (click)="onClickListpicker($event)" matSuffix>search</mat-icon>
    <mat-icon [class.mat-disabled]="isDisabled" (click)="onClickClear($event)" matSuffix>clear</mat-icon>
    <mat-error *ngIf="hasError('required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</mat-error>
  </mat-form-field>
</div>