<md-toolbar color="primary" class="mat-elevation-z5" *ngIf="filter">
  <o-search-input class="list-picker-search" (onSearch)="searchVal=$event"></o-search-input>
</md-toolbar>
<div md-dialog-content class="dialog-list-container">
  <md-list>
    <md-list-item class="mat-1-line" (click)="onClickListItem($event, item)" fxFill
      *ngFor="let item of data | columnsfilter: {filtervalue: searchVal, filtercolumns: visibleColsArray }">
      <div fxLayout="column" fxFill>
        <div fxLayout="row" fxFill>
          <div #colWrapper *ngFor="let col of visibleColsArray" class="clip-text" fxFlex="auto">
            <p class="mat-list-item-text"> {{item[col]}} </p>
          </div>
        </div>
        <md-divider></md-divider>
      </div>
    </md-list-item>
  </md-list>
</div>
<md-dialog-actions align="end">
    <span fxFlex></span>
    <button md-button class="mat-primary" md-dialog-close>
      <span>{{ 'CANCEL' | oTranslate | uppercase }}</span>
    </button>
</md-dialog-actions>