/* WebKit, Blink, Edge */
::-webkit-input-placeholder {

  color: #8E0C39;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: #8E0C39;
  opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: #8E0C39;
  opacity: 1;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: #8E0C39;
}
/* Standard (https://drafts.scsswg.org/selectors-4/#placeholder) */
:placeholder-shown {
  color: #8E0C39;
}

.o-list-container {
  position: relative;
  flex-direction: column;

  mat-toolbar.dense {
    min-height: 48px;

    mat-toolbar-row {
      height: 48px;
    }
  }

  .o-search {
    position: relative;
    height: 30px;

    > .mat-icon {
      position: absolute;
      top: .15em;
      left: .3em;
      color: #8E0C39;
    }
  }

  .o-search-input {
    height: 25px;
    width: 80%;
    font-size: 15px;
    border: 1px solid #8E0C39;
    border-radius: 20px;
    padding-left: 30px;
  }

  .o-list-title {
    font-size: 1.5em;
  }

  .spinner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;

    &:not(.pageable-loading) {
      top: 0;
      background: rgba(255,255,255, 1);
    }

    &.pageable-loading {
      background: rgba(255,255,255,0.5);
    }

    path {
      stroke-width: 5px!important;
    }
  }

  .mat-list {
    overflow: auto;

    .mat-3-line .o-custom-list-item {
      position: relative;
    }

    .o-custom-list-item {
      max-width: 100%;
      width: 100%;

      .o-list-item-icon {
        cursor: pointer;

        &.top {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    &.o-list-1-detail-buttons,
    &.o-list-2-detail-buttons {
      mat-list-item {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .mat-list-item {
          padding-right: 0;
        }
      }
    }

    &:not(.selectable).o-list-1-detail-buttons {
      .mat-list-item-content {
        padding-right: 40px;
      }
    }

    &:not(.selectable).o-list-2-detail-buttons {
      .mat-list-item-content {
        padding-right: 64px;
      }
    }

    &:not(.selectable):not(.o-list-1-detail-buttons):not(.o-list-2-detail-buttons) .mat-list-text {
      padding-right: 0;
    }

    &.selectable.o-list-1-detail-buttons .mat-list-item-content {
      padding-right: 60px;
    }

    &.selectable[dense].o-list-1-detail-buttons .mat-list-item-content {
      padding-right: 56px;
    }

    &.selectable.o-list-2-detail-buttons .mat-list-item-content {
      padding-right: 84px;
    }

    &.selectable[dense].o-list-2-detail-buttons .mat-list-item-content {
      padding-right: 80px;
    }
  }

  .add-button {
    right: 16px;
    bottom: 16px;
    position: absolute;
  }
}
