<div class="o-list-container" layout-fill>
  <!--<span *ngIf="title" class="o-list-title">{{title}}</span>-->
  <div [class.hidden-loading]="!loading" class="spinner-container" flex="100" layout="row" layout-align="center center">
    <md-spinner></md-spinner>
  </div>

  <md-toolbar class="toolbar-filter-list" *ngIf="controls">
    <div class="md-toolbar-tools" layout="row" layout-fill layout-align="start center">
      <button type="button" md-icon-button aria-label="Refresh" (click)="onReload()" *ngIf="refreshButton">
        <md-icon>refresh</md-icon>
      </button>
    <span class="fill-remaining"></span>
     <div *ngIf="title" layout="row" layout-align="center center">
       <span>{{  title | oTranslate }}</span>
      </div >
    <span *ngIf="title" class="fill-remaining"></span>

    <o-search-input *ngIf="quickFilter" placeholder=""></o-search-input>
    </div>
</md-toolbar>

<div layout="column" class="fill-remaining">
  <md-list class="md-list">
    <ng-content></ng-content>
  </md-list>
</div>
</div>