.o-search {
  position: relative;
  height: 30px;
}

.o-search>.md-icon {
  position: absolute;
  top: 0.15em;
  left: 0.3em;
  color: #8E0C39;
}

.o-search-input {
  height: 25px;
  width: 80%;
  font-size: 15px;
  border: 1px solid #8E0C39;
  border-radius: 20px;
  padding-left: 30px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #8E0C39;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #8E0C39;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #8E0C39;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #8E0C39;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #8E0C39;
}

.o-list-container {
  position: relative;
  display: flex;
  flex-direction: column;

  .o-list-title {
    font-size: 1.5em;
  }

  .spinner-container {
    &.hidden-loading {
      display:none;
    }
    position: absolute;
    &:not(.pageable-loading) {
      top: 0px;
      background: rgba(255,255,255, 1);
    }
    &.pageable-loading {
      background:rgba(255,255,255,0.5);
    }
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 500;
    path {
        stroke-width: 5px!important;
    }
  }

  .fill-remaining {
    flex: 1 1 auto;
  }

  .md-list {
    overflow: auto;
  }
}
