  .application-layout-content-wrapper {
    z-index: 1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 8px;
    overflow: auto;

    &.header-layout {
      top: 56px;
    }
  }