<o-app-sidenav #appSidenav [opened]="sidenavOpened" [show-user-info]="showUserInfo" [show-toggle-button]="!showHeader" [opened-sidenav-image]="openedSidenavImg"
  [closed-sidenav-image]="closedSidenavImg" [class.header-layout]="showHeader">
  <o-app-header *ngIf="showHeader" [show-user-info]="showUserInfo" [use-flag-icons]="useFlagIcons" (toggleSidenav)="appSidenav.toggleSidenav()"></o-app-header>
  <div class="application-layout-content-wrapper" [class.header-layout]="showHeader">
    <ng-content></ng-content>
  </div>
</o-app-sidenav>