@import 'node_modules/@angular/material/core/theming/theming';


@mixin textarea-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  // Placeholder colors. Required is used for the `*` star shown in the placeholder.
  $md-textarea-placeholder-color: md-color($foreground, hint-text);
  $md-textarea-floating-placeholder-color: md-color($primary);
  $md-textarea-required-placeholder-color: md-color($accent);

  // Underline colors.
  $md-textarea-underline-color: md-color($foreground, hint-text);
  $md-textarea-underline-color-accent: md-color($accent);
  $md-textarea-underline-color-warn: md-color($warn);
  $md-textarea-underline-disabled-color: md-color($foreground, hint-text);
  $md-textarea-underline-focused-color: md-color($primary);


  .md-textarea-placeholder {
    color: $md-textarea-placeholder-color;

    // :focus is applied to the textarea, but we apply md-focused to the other elements
    // that need to listen to it.
    &.md-focused {
      color: $md-textarea-floating-placeholder-color;

      &.md-accent {
        color: $md-textarea-underline-color-accent;
      }
      &.md-warn {
        color: $md-textarea-underline-color-warn;
      }
    }
  }


  // See md-textarea-placeholder-floating mixin in textarea.scss
  textarea:-webkit-autofill + .md-textarea-placeholder,
  .md-textarea-placeholder.md-float:not(.md-empty), .md-textarea-placeholder.md-float.md-focused {

    .md-placeholder-required {
      color: $md-textarea-required-placeholder-color;
    }
  }

  .md-textarea-underline {
    border-color: $md-textarea-underline-color;

    .md-textarea-ripple {
      background-color: $md-textarea-underline-focused-color;

      &.md-accent {
        background-color: $md-textarea-underline-color-accent;
      }
      &.md-warn {
        background-color: $md-textarea-underline-color-warn;
      }
    }
  }

  .md-textarea {
    &.ng-invalid.ng-touched {
      .md-textarea-underline {
        border-top-color: $md-textarea-underline-color-warn;
        .md-textarea-ripple {
          background-color: $md-textarea-underline-color-warn;
        }
      }
      .md-textarea-placeholder.md-focused {
        color: $md-textarea-underline-color-warn;
      }
      .md-hint {
        color: $md-textarea-underline-color-warn;
      }
    }
  }

}

