<ng-content *ngIf="false"></ng-content>
<div fxFill class="container">
  <o-light-table-button-panel *ngIf="showControls"></o-light-table-button-panel>
  <md-toolbar class="o-light-table-header">
    <div class="mat-toolbar-tools">
      <md-checkbox [(checked)]="markAll" (click)="handleMarkAll($event, markAll)" aria-label="Mark all to delete" *ngIf="deleting"></md-checkbox>
      <div *ngFor="let col of colArray" class="clip-text" fxFlex="auto"> {{ oColumns[col].title }} </div>
    </div>
  </md-toolbar>
  <md-list>
    <md-list-item *ngFor="let item of dataArray; let rowIndex = index" (click)="onListItemClick(item, $event)">
      <div id="row_{{rowIndex}}" class="mat-no-style mat-list-item-inner">
        <md-checkbox [checked]="isItemSelected(item)"  aria-label="Mark to delete" *ngIf="deleting"></md-checkbox>
        <div fxLayout="row" fxFill>
          <div #colWrapper *ngFor="let col of colArray; let colIndex = index" id="col_{{rowIndex}}_{{colIndex}}"
            class="clip-text" fxFlex="auto">
              {{ renderColumn(rowIndex, colIndex, col, item[col], colWrapper) }}
          </div>
        </div>
        <span><i class="material-icons" >navigate_next</i></span>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
 </div>