  md-toolbar.o-light-table-button-panel {

    background-color:  rgb(238,238,238);
    color: rgba(0,0,0,0.87);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    overflow: initial;

    p {
      font-size: small;
    }

    [md-button].mat-icon-button{
      color: rgba(0, 0, 0, 0.87);
    }

  }