<md-toolbar class="o-light-table-button-panel">
  <div class="mat-toolbar-tools" *ngIf="!table.deleting">
    <span fxFlex></span>
    <button type="button" md-icon-button (click)="table.filter($event)">
      <md-icon aria-label="Filter items">filter_list</md-icon>
    </button>
    <button type="button" id="removeButton" md-icon-button (click)="table.remove($event)">
      <md-icon aria-label="Select items to delete">delete</md-icon>
    </button>
    <button type="button" md-icon-button (click)="table.add($event)" >
      <md-icon aria-label="New item">add</md-icon>
    </button>
  </div>

  <div class="mat-toolbar-tools" *ngIf="table.deleting">
    <button  type="button" md-icon-button (click)="table.cancelRemove($event)">
      <md-icon aria-label="Cancel selection of items to delete">clear</md-icon>
    </button>
    <span fxFlex></span>
    <button type="button" md-icon-button (click)="table.remove($event)">
      <md-icon aria-label="Delete selected items">done</md-icon>
    </button>
  </div>
</md-toolbar>