@import 'node_modules/@angular/material/theming';

@import './app-global-theme.scss';
@import '../breadcrumb/o-breadcrumb-theme.scss';
@import '../container/o-container-theme.scss';
@import '../form/o-form-toolbar-theme.scss';
@import '../input/input-theme.scss';
@import '../input/date-input/o-date-input-theme.scss';
@import '../combo/o-combo-theme.scss';
@import '../dialog/md-dialog-theme.scss';
@import '../dialog/o-dialog-theme.scss';
@import '../table/o-table-theme.scss';
@import '../material/ckeditor/ckeditor-theme.scss';
@import '../list/o-list-theme.scss';
@import '../input/listpicker/o-list-picker-theme.scss';
@import '../app-header/o-app-header-theme.scss';
@import '../app-sidenav/o-app-sidenav-theme.scss';
@import '../../layouts/app-layout/o-app-layout-theme.scss';
@import '../card-menu-item/o-card-menu-item.component.theme.scss';
@import '../contextmenu/o-context-menu-theme.scss';
@import '../table/extensions/header/table-insertable-row/o-table-editable-row/o-table-editable-row.theme.scss';

// Create a theme.
@mixin o-material-theme($theme, $typography: null) {
  @include mat-core($typography);
  @include angular-material-theme($theme);

  @include app-global-theme($theme, $typography);
  @include md-dialog-theme($theme);
  @include o-breadcrumb-theme($theme);
  @include o-container-theme($theme);
  @include o-form-toolbar-theme($theme);
  @include input-theme($theme);
  @include o-date-input-theme($theme);
  @include o-combo-theme($theme);
  @include o-dialog-theme($theme);
  @include o-table-theme($theme);
  @include ckeditor-theme($theme);
  @include o-list-theme($theme);
  @include o-list-picker-theme($theme);
  @include o-app-header-theme($theme);
  @include o-app-sidenav-theme($theme);
  @include o-app-layout-theme($theme);
  @include o-card-menu-item-theme($theme);
  @include o-context-menu-theme($theme);
  @include o-table-editable-row-theme($theme);
}
