@import 'node_modules/@angular/material/theming';

@mixin app-global-theme($theme, $typography: null) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  @if $typography == null {
    $typography: mat-typography-config();
  }

  html, body {
    background-color: mat-color($background, background);
  }

  button,
  select,
  html,
  textarea,
  span,
  input {
    font-family: mat-font-family($typography);
  }

}



