@import 'node_modules/@angular/material/theming';

@mixin md-dialog-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-dialog {
    background-color: mat-color($background, dialog);

    &.mat-content-overflow {
      .mat-actions, md-dialog-actions {
        border-top-color: mat-color($foreground, divider);
      }
    }
  }

}



