@import 'node_modules/@angular/material/theming';
@mixin o-grid-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-grid .o-loading-blocker .o-spinner-container {
    background-color: mat-color($background, background);
  }
}
