@import 'node_modules/@angular/material/theming';
@mixin o-tree-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-tree {
    .node-menu {
      position: relative;
      width: 150px;

      .node-menu-content {
        width: 100%;
        padding: 5px;
        position: absolute;
        border: 1px solid #bdbdbd;
        border-radius: 5%;
        box-shadow: 0 0 5px #bdbdbd;
        background-color: #eee;
        color: #212121;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        z-index: 999;

        li.node-menu-item {
          list-style: none;
          padding: 3px;
        }

        .node-menu-item {
          &:hover {
            border-radius: 5%;
            opacity: unset;
            cursor: pointer;
            background-color: #bdbdbd;
            transition: background-color .2s ease-out;
          }

          .node-menu-item-icon {
            display: inline-block;
            width: 16px;

            &.new-tag:before {
              content: '\25CF';
            }

            &.new-folder:before {
              content: '\25B6';
            }

            &.rename:before {
              content: '\270E';
            }

            &.remove:before {
              content: '\2716';
            }
          }

          .node-menu-item-value {
            margin-left: 5px;
          }
        }
      }
    }

    tree-internal {
      ul {
        padding: 3px 0 3px 25px;
      }

      li {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .over-drop-target {
        border: 4px solid #757575;
        transition: padding .2s ease-out;
        padding: 5px;
        border-radius: 5%;
      }

      .tree {
        box-sizing: border-box;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        li {
          list-style: none;
          cursor: default;

          div {
            display: inline-block;
            box-sizing: border-box;
          }
        }

        .node-value {
          display: inline-block;
          color: #212121;

          &:after {
            display: block;
            padding-top: -3px;
            width: 0;
            height: 2px;
            background-color: #212121;
            content: '';
            transition: width .3s;
          }

          &:hover:after {
            width: 100%;
          }
        }

        .node-left-menu {
          display: inline-block;
          height: 100%;
          width: auto;

          span:before {
            content: '\2026';
            color: #757575;
          }
        }

        .node-selected:after {
          width: 100%;
        }

        .folding {
          width: 25px;
          display: inline-block;
          line-height: 1px;
          padding: 0 5px;
          font-weight: bold;

          &.node-collapsed {
            cursor: pointer;

            &:before {
              content: '\25B6';
              color: #757575;
            }
          }

          &.node-expanded {
            cursor: pointer;

            &:before {
              content: '\25BC';
              color: #757575;
            }
          }

          &.node-empty {
            color: #212121;
            text-align: center;
            font-size: .89em;

            &:before {
              content: '\25B6';
              color: #757575;
            }
          }

          &.node-leaf {
            color: #212121;
            text-align: center;
            font-size: .89em;

            &:before {
              content: '\25CF';
              color: #757575;
            }
          }

        }
      }

      ul.rootless {
        padding: 0;
      }

      div.rootless {
        display: none !important;
      }

      .loading-children:after {
        content: ' loading ...';
        color: #6a1b9a;
        font-style: italic;
        font-size: .9em;
        animation-name: loading-children;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
    @keyframes loading-children {
      0% {
        color: #f3e5f5;
      }

      12.5% {
        color: #e1bee7;
      }

      25% {
        color: #ce93d8;
      }

      37.5% {
        color: #ba68c8;
      }

      50% {
        color: #ab47bc;
      }

      62.5% {
        color: #9c27b0;
      }

      75% {
        color: #8e24aa;
      }

      87.5% {
        color: #7b1fa2;
      }

      100% {
        color: #6a1b9a;
      }
    }

  }

}
