@import './ng2-tree.styles.scss';

.o-tree {
  .tree-container {

    &.has-controls {
      .tree-content {
        height: calc(100% - 64px);
      }
    }

    .tree-content {
      overflow: auto;
    }

    .folding:not(.node-leaf) +,
    .recursive-tree {
      .node-value  {
        cursor: pointer;
      }
    }


    tree-internal {
      ul {
        padding: 3px 0 3px 12px;
      }

      .tree {
        .node-value  {
          &:after {
            display: none;
            height: 0px;
          }
        }
        .node-name {
          vertical-align: middle;
        }

        .value-container {
          // &.selected {
          //   // background: blue;
          // }
          + tree-internal > .tree {
            padding-top: 6px;
          }
        }
      }
    }

    .material-icons {
      &.collapsed-node:before,
      &.expanded-node:before {
        vertical-align: middle;
        font-size: 18px;
        cursor: pointer;
      }
      &.expanded-node:before {
        content: '\E313';
      }
      &.collapsed-node:before {
        content: '\E315';
      }
    }
  }
}
