@import 'node_modules/@angular/material/theming';
@mixin o-tree-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-tree {
    tree-internal {
      .loading-children {
        padding-left: 16px;

        &:after {
          content: ' Loading children...';
          color: mat-color($primary);
          font-style: italic;
          font-size: .9em;
          animation-name: loading-children;
          animation-duration: 2s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
        }
      }
    }
    @keyframes loading-children {
      0% {
        color: mat-color($primary, 100);
      }

      12.5% {
        color: mat-color($primary, 200);
      }

      25% {
        color: mat-color($primary, 300);
      }

      37.5% {
        color: mat-color($primary, 400);
      }

      50% {
        color: mat-color($primary, 500);
      }

      62.5% {
        color: mat-color($primary, 600);
      }

      75% {
        color: mat-color($primary, 700);
      }

      87.5% {
        color: mat-color($primary, 800);
      }

      100% {
        color: mat-color($primary, 900);
      }
    }

  }

}
