@import 'node_modules/@angular/material/theming';

@mixin o-app-sidenav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-app-sidenav {

    .application-sidenav-sidenav {

      background: mat-color($primary);
      .application-sidenav-item {
        cursor: pointer;
        border-color: mat-color($primary, default-contrast, 0.12);
        color: mat-color($primary, default-contrast, 0.54);

        .application-sidenav-viewer-sidenav-item-selected {
           color: mat-color($accent);
        }

        > a.is-selected,
        > a:hover,
        > a:focus,
        &:hover,
        &:focus {
          // background: mat-color($primary, 700);
          color: mat-color($accent);
        }
      }

      .application-sidenav-menugroup.active {
        background: mat-color($primary, 900);
        color: mat-color($primary, default-contrast);

        + .application-sidenav-menugroup-items-container ul {
          background: rgba(0, 0, 0, 0.1);
          box-shadow: 6px 4px 36px -12px  $black-87-opacity inset;
        }
      }

      li a {
        color: inherit;
      }
    }
  }
}
