<md-sidenav-container class="application-sidenav-container" [class.opened]="sidenav.opened">

  <md-sidenav #sidenav class="application-sidenav-sidenav" [opened]="!isScreenSmall()" [mode]="'side'">
    <!--isScreenSmall() ? 'over' : 'side'-->
    <ng-content select="[o-app-sidenav-image]"></ng-content>

    <nav *ngFor="let menuRootItem of menuRootArray">

      <ul *ngIf="appMenuService.getMenuItemType(menuRootItem) !== 'group'">
        <o-app-sidenav-menu-item [menu-item]="menuRootItem" [menu-item-type]="appMenuService.getMenuItemType(menuRootItem)" [sidenav-opened]="sidenav.opened">
        </o-app-sidenav-menu-item>
      </ul>

      <o-app-sidenav-menu-group [menu-group]="menuRootItem" [sidenav-opened]="sidenav.opened" *ngIf="appMenuService.getMenuItemType(menuRootItem) === 'group'">
      </o-app-sidenav-menu-group>
    </nav>
  </md-sidenav>

  <div class="application-sidenav-content">
    <ng-content></ng-content>
  </div>
</md-sidenav-container>