$sidenav-spacing-unit: 8px;
$sidenav-width: 240px;
// $sidenav-closed-width: 40px;
$sidenav-closed-width: 48px;
//($sidenav-width - $sidenav-closed-width)
$sidenav-diff: -191px;
$header-height: 55px;
$transition-duration: 500ms;

.o-app-sidenav {

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  .application-sidenav-container {
    width: 100%;
    height: 100%;


    &:not(.opened) {
      .mat-drawer-content {
        margin-right: $sidenav-closed-width!important;
        transform: translate3d($sidenav-closed-width, 0px, 0px)!important;
      }
    }

    .mat-drawer-content {
      position: absolute;
      right: 0;
      left: 0;
    }

    .mat-drawer.application-sidenav-sidenav {
      box-shadow: 3px $header-height 6px rgba(0, 0, 0, .24);
      padding-bottom: 72px;
      padding-top: 5px;
      width: $sidenav-width;
      bottom: 0;
      overflow: auto;
      height: 100%;

      h3 {
        border: none;
        font-size: 16px;
        font-weight: 700;
        line-height: $sidenav-spacing-unit * 3;
        text-transform: capitalize;
        margin: 0;
        padding-left: ($sidenav-spacing-unit * 2);
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0;
        padding: 0;

        > a {
          box-sizing: border-box;
          display: block;
          font-size: 14px;
          font-weight: 400;
          line-height: ($sidenav-spacing-unit * 6) - 1;
          text-decoration: none;
          // transition: all .3s;
          padding: 0 ($sidenav-spacing-unit * 2);
          position: relative;
        }
      }

      .application-sidenav-menugroup {
        transition: background-color $transition-duration;

        &.active + .application-sidenav-menugroup-items-container {
          ul {
            margin-top: 0px;
          }
          o-app-sidenav-menu-item:last-child li{
            border-color: transparent;
          }
        }
      }

      .application-sidenav-menugroup-items-container {
        overflow: hidden;
        ul {
          transition: margin-top $transition-duration;
          margin-top: -100%;
        }
      }

      &.mat-drawer-closing {
        transform: translate3d($sidenav-diff,0,0);
      }

      &.mat-drawer-closed {
        visibility: visible!important;
        transform: translate3d($sidenav-diff,0,0);
        text-align: center;

        .application-sidenav-item {

          &.application-sidenav-menuitem a {
            width: $sidenav-closed-width;
            max-width: $sidenav-closed-width;
            min-width: $sidenav-closed-width;
            line-height: $sidenav-closed-width;
            padding: 0 $sidenav-spacing-unit;
            height: $sidenav-closed-width;
          }

          &.application-sidenav-menugroup {
            padding: $sidenav-spacing-unit;
            padding-left: $sidenav-spacing-unit * 1.5;
            height: $sidenav-closed-width;

            -webkit-box-pack: center!important;
            -ms-flex-pack: center!important;
            justify-content: center!important;
          }
        }

        > nav {
          width: $sidenav-closed-width;
          min-width: $sidenav-closed-width;
          margin-left: auto;
        }

        o-app-sidenav-image .application-sidenav-image-container .application-sidenav-image {
          margin-left:auto;
          margin-right: -10px;
        }
      }

      &.mat-drawer-opening,
      &.mat-drawer-closing,
      &.mat-drawer-opened {

        .application-sidenav-item {
          border-bottom-width: 0px;
          border-bottom-style: solid;
        }

        .application-sidenav-menugroup {
          padding: ($sidenav-spacing-unit * 2);
          .application-sidenav-menugroup-arrow {
            position: absolute;
            right: ($sidenav-spacing-unit * 2);
            transition: $transition-duration transform cubic-bezier(.25,.8,.25,1);
          }

          &.active {
            .application-sidenav-menugroup-arrow {
              transform: rotate(90deg);
            }
            + .application-sidenav-menugroup-items-container {
              ul li > a {
                padding-left: ($sidenav-spacing-unit * 4);
              }
            }
          }
        }

        .application-sidenav-menuitem {
          md-icon {
            margin-right: ($sidenav-spacing-unit * 2);
          }
        }
      }
    }

    .application-sidenav-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;

      // The rule will match the element following the router-outlet which will be the routed component.
      router-outlet + * {
        flex-grow: 1;
      }
    }
  }
}
