$sidenav-spacing-unit: 8px;
$sidenav-width: 240px;
// $sidenav-closed-width: 40px;
$sidenav-closed-width: 48px;
// ($sidenav-width - $sidenav-closed-width)
$sidenav-diff: -191px;
$header-height: 56px;
$transition-duration: 500ms;

.o-app-sidenav {
  &.header-layout {
    .o-app-sidenav-container {
      .mat-drawer.o-app-sidenav-sidenav {
        box-shadow: 3px $header-height 6px rgba(0, 0, 0, .24);
      }
    }
  }

  .o-app-sidenav-menu-group,
  .o-app-sidenav-menu-item {
    &[disabled=true] {
      .mat-button-focus-overlay,
      .mat-ripple {
        display: none;
      }

      .o-app-sidenav-item {
        opacity: .5;
      }

      a {
        cursor: initial;
      }
    }
  }

  .o-app-sidenav-container {
    width: 100%;
    height: 100%;

    &.o-app-sidenav-mode-desktop:not(.opened) {
      .o-app-sidenav-sidenav.mat-drawer-closed {
        visibility: visible !important;
        transform: translate3d($sidenav-diff, 0, 0);
      }

      .o-app-sidenav-content.mat-drawer-content {
        margin-right: $sidenav-closed-width !important;
        transform: translate3d($sidenav-closed-width, 0, 0) !important;
      }
    }

    .o-app-sidenav-content {
      position: absolute;
      right: 0;
      left: 0;
    }

    .mat-drawer.o-app-sidenav-sidenav {
      box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
      padding-bottom: 36px;
      padding-top: 5px;
      width: $sidenav-width;
      bottom: 0;
      overflow: auto;
      height: 100%;

      h3 {
        border: none;
        font-size: 16px;
        font-weight: 700;
        line-height: $sidenav-spacing-unit * 3;
        text-transform: capitalize;
        margin: 0;
        padding-left: ($sidenav-spacing-unit * 2);
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0;
        padding: 0;

        > a {
          box-sizing: border-box;
          display: block;
          font-size: 14px;
          font-weight: 400;
          line-height: ($sidenav-spacing-unit * 6) - 1;
          text-decoration: none;
          // transition: all .3s;
          padding: 0 ($sidenav-spacing-unit * 2);
          position: relative;
        }
      }

      .sidenav-toggle {
        padding: 4px 12px 8px;
        cursor: pointer;
      }

      .o-app-sidenav-menugroup {
        transition: background-color $transition-duration;

        &.active + .o-app-sidenav-menugroup-items-container {
          .o-app-sidenav-menu-item:last-child li {
            border-color: transparent;
          }
        }
      }

      .o-app-sidenav-menugroup-items-container {
        overflow: hidden;
      }

      &.mat-drawer-closing {
        transform: translate3d($sidenav-diff, 0, 0);
      }

      &.mat-drawer-closed {
        text-align: center;

        .o-app-sidenav-item {
          &:not(.o-user-info) {
            cursor: pointer;
          }

          &.o-user-info {
            &:focus,
            &:hover {
              color: inherit;
            }
          }

          &.o-app-sidenav-menuitem a {
            width: $sidenav-closed-width;
            max-width: $sidenav-closed-width;
            min-width: $sidenav-closed-width;
            line-height: $sidenav-closed-width;
            padding: 0 $sidenav-spacing-unit;
            height: $sidenav-closed-width;
          }

          &.o-app-sidenav-menugroup {
            padding: $sidenav-spacing-unit $sidenav-spacing-unit $sidenav-spacing-unit $sidenav-spacing-unit * 1.5;
            height: $sidenav-closed-width;
            -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
          }
        }

        > nav {
          width: $sidenav-closed-width;
          min-width: $sidenav-closed-width;
          margin-left: auto;
        }

        .o-app-sidenav-image .o-app-sidenav-image-container {
          padding: 0;
          text-align: end;
          max-height: 48px;

          .o-app-sidenav-image {
            max-height: 48px;
            margin: 8px 8px 0 0;
          }
        }
      }

      &:not(.mat-drawer-closed) {
        .o-app-sidenav-item {
          border-bottom-width: 0;
          border-bottom-style: solid;
        }

        .o-app-sidenav-menugroup {
          padding: ($sidenav-spacing-unit * 2);
          transition: padding $transition-duration 0s;

          .o-app-sidenav-menugroup-arrow {
            position: absolute;
            right: ($sidenav-spacing-unit * 2);
            transition: $transition-duration transform cubic-bezier(.25, .8, .25, 1);
          }

          &.active {
            .o-app-sidenav-menugroup-arrow {
              transform: rotate(90deg);
            }

            + .o-app-sidenav-menugroup-items-container {
              ul li > a {
                padding-left: ($sidenav-spacing-unit * 4);
              }
            }
          }
        }

        .o-app-sidenav-menuitem {
          mat-icon {
            margin-right: ($sidenav-spacing-unit * 2);
          }
        }
      }
    }

    .o-app-sidenav-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;

      // The rule will match the element following the router-outlet which will be the routed component.
      router-outlet + * {
        flex-grow: 1;
      }
    }
  }
}
