<ng-container *ngIf="sidenavOpened">
  <li class="application-sidenav-menuitem application-sidenav-item">
    <a *ngIf="menuItemType === 'route'" [routerLink]="[ menuItem.route ]" routerLinkActive="application-sidenav-viewer-sidenav-item-selected">
      <div layout="row" layout-align="start center">
        <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </a>

    <a *ngIf="menuItemType === 'action'" (click)="onClick()">
      <div layout="row" layout-align="start center">
        <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </a>

    <a *ngIf="menuItemType === 'locale'" (click)="onClick()">
      <div layout="row" layout-align="space-between center">
        <md-icon *ngIf="menuItem.icon">{{ icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
        <md-icon *ngIf="isConfiguredLang()" class="configured-lang">check_circle</md-icon>
      </div>
    </a>

    <a *ngIf="menuItemType === 'logout'" (click)="onClick()">
      <div layout="row" layout-align="start center">
        <md-icon *ngIf="menuItem.icon">{{ icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </a>

    <div *ngIf="menuItemType === 'default'">
      <div layout="row" layout-align="start center">
        <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
        {{ menuItem.name | oTranslate }}
      </div>
    </div>
  </li>
</ng-container>

<ng-container *ngIf="!sidenavOpened">
  <li class="application-sidenav-menuitem application-sidenav-item" [ngSwitch]="menuItemType">

    <a *ngSwitchCase="'route'" [routerLink]="[ menuItem.route ]" routerLinkActive="application-sidenav-viewer-sidenav-item-selected">
      <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
    </a>

    <a *ngSwitchCase="'action'" (click)="onClick()">
      <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
    </a>

    <a *ngSwitchCase="'locale'" layout="row" layout-align="space-between center" (click)="onClick()">
      <md-icon *ngIf="menuItem.icon">{{ icon }}</md-icon>
    </a>

    <div *ngSwitchDefault>
      <md-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</md-icon>
    </div>
  </li>
</ng-container>