<mat-sidenav-container class="application-sidenav-container" [class.opened]="sidenav.opened">

  <mat-sidenav #sidenav class="application-sidenav-sidenav o-scroll" [opened]="isSidenavOpened()" [mode]="'side'" [class.mat-drawer-opened]="sidenav.opened"
    [class.mat-drawer-closed]="!sidenav.opened">
    <!--isScreenSmall() ? 'over' : 'side'-->

    <div fxLayout="row" fxLayoutAlign="end" *ngIf="showToggleButton" class="sidenav-toggle-container">
      <mat-icon class="sidenav-toggle" (click)="toggleSidenav()">menu</mat-icon>
    </div>

    <o-app-sidenav-image [opened-src]="openedSidenavImg" [closed-src]="closedSidenavImg">
    </o-app-sidenav-image>

    <nav *ngFor="let menuRootItem of menuRootArray">

      <ul *ngIf="appMenuService.getMenuItemType(menuRootItem) !== 'group'">
        <o-app-sidenav-menu-item *ngIf="menuRootItem['show-in-app-sidenav'] !== false" [menu-item]="menuRootItem" [menu-item-type]="appMenuService.getMenuItemType(menuRootItem)" [sidenav-opened]="sidenav.opened">
        </o-app-sidenav-menu-item>
      </ul>

      <o-app-sidenav-menu-group [menu-group]="menuRootItem" [sidenav-opened]="sidenav.opened" *ngIf="appMenuService.getMenuItemType(menuRootItem) === 'group'">
      </o-app-sidenav-menu-group>
    </nav>
  </mat-sidenav>

  <div class="application-sidenav-content">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>