@import 'node_modules/@angular/material/theming';
@mixin o-form-toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .o-form-toolbar-header {
    background-color: mat-color($background, app-bar);

    .mat-toolbar-tools .o-form-toolbar-button[disabled] {
      color: mat-color($background, disabled-button);
    }
  }
}
