.o-form-toolbar {
  flex: none;
  display: block;

  .o-form-toolbar-header {
    min-height: 50px;
    max-height: 50px;
    padding: 0 16px 0 0;

    mat-toolbar-row {
      height: 50px;
    }

    .mat-toolbar-tools {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      box-sizing: border-box;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      button {
        &.o-form-toolbar-button:not(.mat-icon-button) .mat-button-wrapper {
          display: flex;
          align-items: center;

          span {
            flex: 1;
          }
        }

        &:not(.mat-icon-button) {
          padding: 0 6px;
        }

        &.mat-icon-button {
          padding: 0;
          margin: 0;
        }

        &.mat-stroked-button {
          min-width: 100px;
        }
      }
    }
  }
}
