md-checkbox{
  z-index: 1;
}

.md-checkbox-disabled {
  .md-checkbox-layout .md-checkbox-label {
    color: rgba(0, 0, 0, 0.36);
  }
}

.read-only-blocker{
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}