<div fxFill [formGroup]="form?.formGroup" class="relative"
    [mdTooltip]="tooltip" [mdTooltipPosition]="tooltipPosition" [mdTooltipShowDelay]="tooltipShowDelay">
    <md-checkbox [attr.id]="oattr" [id]="oattr" fxFill [formControlName]="oattr" [o-disabled]="innerInput" #innerInput
        [checked]="isChecked()" [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)">
        {{ placeHolder }}
        <md-hint *ngIf="!isReadOnly && _fControl.touched && _fControl.errors">
            <span *ngIf="_fControl.errors?.required">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</span>
        </md-hint>
    </md-checkbox>
    <div *ngIf="isReadOnly" fxFill class="read-only-blocker" (click)="onClickBlocker($event)" ></div>
</div>