<div [formGroup]="getFormGroup()">
    <ckeditor #ckEditor [attr.id]="getAttribute()" [id]="getAttribute()" [formControlName]="getAttribute()" [ngModel]="getValue()"
        (ngModelChange)="innerOnChange($event)" (focus)="innerOnFocus($event)" (blur)="innerOnBlur($event)" class="mat-ckeditor"
        [placeholder]="placeHolder" [readonly]="isReadOnly" fxFlexFill>
        <mat-error *ngIf="hasError('required')">{{ 'FORM_VALIDATION.REQUIRED' | oTranslate }}</mat-error>
        <mat-error *ngIf="hasError('minlength')">{{ 'FORM_VALIDATION.MIN_LENGTH' | oTranslate }}: {{ getErrorValue('minlength', 'requiredLength') }}</mat-error>
        <mat-error *ngIf="hasError('maxlength')">{{ 'FORM_VALIDATION.MAX_LENGTH' | oTranslate }}: {{ getErrorValue('maxlength', 'requiredLength') }}</mat-error>
    </ckeditor>

</div>