<md-card fxFlex fxFill fxLayout="column" fxLayoutAlign="center center" class="o-item-card" [class.small]="compareListHeight('small')"
  [class.medium]="compareListHeight('medium')" [class.large]="compareListHeight('large')">

  <md-card-header *ngIf="avatar !== undefined">
    <img mdCardAvatar src="{{ avatar }}">
    <md-card-title *ngIf="title !== undefined"> {{ title }}</md-card-title>
    <md-card-subtitle *ngIf="subtitle !== undefined"> {{ subtitle }}</md-card-subtitle>
  </md-card-header>

  <img *ngIf="image !== undefined" mdCardImage src="{{ image }}" [class.exists-action-button]="icon !== undefined">

  <button *ngIf="icon !== undefined && compareListHeight('small')" md-mini-fab (click)="onActionIconClick($event)" class="action-button">
      <md-icon>{{ icon }}</md-icon>
    </button>

  <button *ngIf="icon !== undefined && (compareListHeight('medium') || compareListHeight('large'))" md-fab (click)="onActionIconClick($event)"
    class="action-button">
      <md-icon>{{ icon }}</md-icon>
  </button>

  <md-card-title *ngIf="avatar === undefined && title !== undefined"> {{ title }}</md-card-title>
  <md-card-subtitle *ngIf="avatar === undefined && subtitle !== undefined"> {{ subtitle }}</md-card-subtitle>

  <md-card-content *ngIf="!collapsible">
    <p>
      {{ content }}
    </p>
  </md-card-content>

  <md-card-actions>
    <button md-button *ngIf="action1Text !== undefined" (click)="onAction1ButtonClick($event)">{{ action1Text }}</button>
    <button md-button *ngIf="action2Text !== undefined" (click)="onAction2ButtonClick($event)">{{ action2Text }}</button>

    <div class="collapse-button-container">
      <button md-icon-button *ngIf="collapsible" (click)="collapsed = !collapsed" class="collapse-button">
        <md-icon *ngIf="collapsed">keyboard_arrow_down</md-icon>
        <md-icon *ngIf="!collapsed">keyboard_arrow_up</md-icon>
      </button>
    </div>
  </md-card-actions>

  <md-card-content *ngIf="collapsible && !collapsed">
    <p>
      {{ content }}
    </p>
  </md-card-content>

</md-card>