.mat-list .mat-list-item.o-card-item,
.mat-list .mat-list-item.o-card-item .mat-list-item-content {
  height: auto;
}

.o-list-item-card {
  mat-card,
  mat-card-actions,
  mat-card-title-group {
    width: 100%;
  }
}
