<a *ngIf="!restricted && action === undefined && route !== undefined" class="mat-list-item-content" [routerLink]="[ route ]">
  <md-icon *ngIf="icon" class="o-side-menu-item-icon mat-24">{{ icon }}</md-icon>
  <div class="o-side-menu-item-title">{{ title | oTranslate }}</div>
</a>
<a *ngIf="!restricted && route === undefined && action !== undefined" class="mat-list-item-content" (click)="action()">
  <md-icon *ngIf="icon !== undefined" class="o-side-menu-item-icon mat-24">{{ icon }}</md-icon>
  <div class="o-side-menu-item-title">{{ title | oTranslate }}</div>
</a>
<div *ngIf="!restricted && route !== undefined && action === undefined" class="o-side-menu-item-text mat-list-item-content">
  <md-icon *ngIf="icon !== undefined" class="o-side-menu-item-icon mat-24">{{ icon }}</md-icon>
  <div class="o-side-menu-item-title">{{ title | oTranslate }}</div>
</div>
