o-side-menu {

  .o-side-menu-icon-open {
    cursor: pointer;
  }

  mat-sidenav-container.menu-opened {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
  }

  mat-nav-list {
    &.mat-nav-list{
      padding-top: 0px;
    }
  }

  h3 {
    padding: 25px;
    border-bottom: 3px solid;
    margin: 0px;
  }

  @media all and (min-width : 768px) {
    mat-sidenav {
      width: 250px;
    }
  }

  @media all and (max-width : 767px) {
    mat-sidenav {
      width: 250px;
    }
  }

  @media all and (max-width : 330px) {
    mat-sidenav {
      width: 96%;
    }
  }

}

.mat-input-placeholder {
  z-index: 1000;
}
