<a *ngIf="!restricted && !action && route" md-list-item [routerLink]="[ route ]">
  <md-icon *ngIf="icon" class="o-side-menu-item-icon md-24">{{ icon }}</md-icon>
  <div class="o-side-menu-item-title">{{ title | oTranslate }}</div>
</a>
<a *ngIf="!restricted && !route && action" md-list-item (click)="action()">
  <md-icon *ngIf="icon" class="o-side-menu-item-icon md-24">{{ icon }}</md-icon>
  <div class="o-side-menu-item-title">{{ title | oTranslate }}</div>
</a>
<div *ngIf="!restricted && !route && !action" class="o-side-menu-item-text" md-list-item>
  <md-icon *ngIf="icon" class="o-side-menu-item-icon md-24">{{ icon }}</md-icon>
  <div class="o-side-menu-item-title">{{ title | oTranslate }}</div>
</div>
