o-bar-menu-group {
  .fake-ul,
  .fake-li {
    .o-bar-menu-group-icon {
      display: inline-block;
      margin: 0px 10px 0px 0px;

      & ~ .o-bar-menu-group-title {
        padding-left: 0px;
      }
    }
    .o-bar-menu-group-icon-arrow {
      margin-left:auto;
    }
  }
  
}