// $bg-color: #FFF;
// $fg-color: rgba(0, 0, 0, 0.7);

/* menu items */
// $item-bg-color-hover-dark: rgba(0,0,0, 0.16);
// $item-bg-color-hover-light: rgba(255,255,255, 0.16);
// $item-fg-color-hover: rgba(0, 0, 0, 0.7);

o-bar-menu {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  .toggle,
  input {
    display: none;
  }

  nav {
    margin: 0;
    padding: 0;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
   
    .fake-ul {
      float: right;
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;

      &.menu {
        > o-bar-menu-item {
          .o-bar-menu-item-title {
            top: 0px;
            padding-left: 0px;
          }
        }
      }

      .fake-li {
        margin: 0px;
        display: inline-block;
        cursor: pointer;
      }

      .fake-ul {
        display: none;
        position: absolute;
        top: 60px;
        background-color: #FFF;

        .o-bar-menu-group-title,
        .o-bar-menu-item-title,
        .mat-icon,
        label.toggle,
         {
          // color: $fg-color;
          color: rgba(0, 0, 0, 0.7);
        }

        .fake-li {
          min-width: 250px;
          width: 250px;
          float: none;
          display: list-item;
          position: relative;
          white-space: nowrap;
          /*background-color: mat-color($mat-primary);*/
          background-color: #FFF;
          // background-color: $bg-color;
        }

        .fake-ul {
          top: 0px;

          .fake-li {
            position: relative;
            top: 0px;
            left: 0px;
          }
        }
      }

    }

    a {
      display: block;
      padding: 0 20px;
      color: #FFF;
      font-size: 20px;
      line-height: 60px;
      text-decoration: none;
    }
  }

  .fake-li > a:after {
    content: ' +';
  }

  .fake-li > a:only-child:after {
    content: '';
  }


  @media all and (min-width : 768px) {
    nav .fake-ul {
      .fake-li .fake-ul .fake-li-hover {
        // background: $item-bg-color-hover-dark;
        background: rgba(0,0,0, 0.16);
      }

      .fake-li-hover {
        // background-color: $item-bg-color-hover-light;
        background-color: rgba(255,255,255, 0.16);

        > .fake-ul {
          display: inline-block;
          z-index: 1000;
        }
      }

      .fake-ul .fake-li-hover > .fake-ul {
        display: inline-block;
        z-index: 1000;
        left: 250px;
      }
    }
  }

  @media all and (max-width : 767px) {

    mat-toolbar{
      height:auto!important;
   }

    nav {
      margin: 10px 0 ;
      width: 100%;

      a:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      .o-bar-menu-group,
      .o-bar-menu-item{
        display : block;
        .mat-list-item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: auto;
        }
      }


      .fake-ul {
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.5);

        .fake-li {
          width: 100%;

          /*.toggle{
            width:100%;
          }*/

          .fake-ul .fake-li .toggle {
            background-color: rgba(255, 255, 255, 0.15);
          }

        }

        .fake-ul {
          float: none;
          position: static;
          width: 100%;

          .fake-li {
            width: 100%;
          }

          a {
            background-color: rgba(255, 255, 255, 0.15);
          }

          .toggle,
          a {
            padding: 0 40px;
          }

          .fake-ul {
            .fake-li {
              position: static;
            }
          }
          .fake-ul,
          .fake-li {
            a,
            label.toggle {
              padding: 0 80px;
              background-color: rgba(255, 255, 255, 0.15);
            }
          }
        }

      }
    }

    .toggle {
      display: inline-block;
      padding: 0 20px;
      font-size: 20px;
      line-height: 60px;
      text-decoration: none;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      + a {
        display: none !important;
      }
    }

    .menu {
      display: none;
      float: left !important;
    }

    label.title-label {
      display: inline-block;
    }

    mat-icon.menu-icon {
      vertical-align: middle;
      display: inline-block;
      line-height: 1;
      padding: 0 4px;
    }

    input:checked + .fake-ul {
      display: block;
    }
  }
  

  @media all and (max-width : 330px) {

    nav .fake-ul .fake-li {
      width: 94%;
    }
  }

}
