<div class="fake-li mat-primary" *ngIf="!restricted" (click)="collapseMenu($event)"
  [class.fake-li-hover]="isHovered">
  <a *ngIf="!action && route" class="mat-list-item" [routerLink]="[ route ]">
    <md-icon *ngIf="icon" class="o-bar-menu-item-icon mat-24">{{ icon }}</md-icon>
    <div class="o-bar-menu-item-title">{{ itemTitle | oTranslate }}</div>
  </a>
  <a *ngIf="!route && action" class="mat-list-item" (click)="action()">
    <md-icon *ngIf="icon" class="o-bar-menu-item-icon mat-24">{{ icon }}</md-icon>
    <div class="o-bar-menu-item-title">{{ itemTitle | oTranslate }}</div>
  </a>
  <div *ngIf="!route && !action" class="o-bar-menu-item-text mat-list-item" >
    <md-icon *ngIf="icon" class="o-bar-menu-item-icon mat-24">{{ icon }}</md-icon>
    <div class="o-bar-menu-item-title">{{ itemTitle | oTranslate }}</div>
  </div>
</div>
