<mat-toolbar color="primary">
  <nav>
    <mat-icon class="mat-24 menu-icon toggle" (click)="input.checked = !input.checked" svgIcon="ontimize:menu"></mat-icon>
    <label [attr.for]="id" class="toggle title-label">{{ menuTitle | oTranslate }}</label>
    <input #input [attr.id]="id" type="checkbox" />
    <div class="fake-ul mat-primary menu">
      <ng-content *ngIf="!autoMenu"></ng-content>
      <ng-container *ngIf="autoMenu">
        <ng-container *ngFor="let menuGroup of barMenuItems">
           <!--menu-group-->
          <o-bar-menu-group *ngIf="isMenuGroup(menuGroup)" [title]="getValueOfAttr(menuGroup, 'name')" [tooltip]="getValueOfAttr(menuGroup, 'tooltip')"
            [icon]="getValueOfAttr(menuGroup,'icon')" >
            <o-bar-menu-item *ngFor="let menuItem of menuGroup.items" [title]="getValueOfAttr(menuItem,'name')" [tooltip]="getValueOfAttr(menuItem,'tooltip')"
              [icon]="getValueOfAttr(menuItem,'icon')" [route]="getValueOfAttr(menuItem, 'route')">
            </o-bar-menu-item>
          </o-bar-menu-group>
          <!--menu-item-->
          <o-bar-menu-item *ngIf="!isMenuGroup(menuGroup)" [title]="getValueOfAttr(menuGroup,'name')" [tooltip]="getValueOfAttr(menuGroup, 'tooltip') "
            [icon]="getValueOfAttr(menuGroup, 'icon') " [route]="getValueOfAttr(menuGroup, 'route') ">
          </o-bar-menu-item>
        </ng-container>
      </ng-container>
    </div>
  </nav>
</mat-toolbar>