:host {
  display: flex;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.o-context-menu.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
}

.o-context-menu-content .dropdown-menu {
  z-index: 1000;
  min-width: 160px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 3px;

  > div:first-child {
    padding-top: 8px;
  }

  > div:last-child {
    padding-bottom: 8px;
  }
}

