<div class="o-container" #container>
	<div #title *ngIf="hasTitle()" class="o-container-title-item container-title" layout-padding>
		<span (cdkObserveContent)="updateOutlineGap()" >{{ titleLabel }}</span>
	</div>
	<div class="o-container-scroll o-scroll">
		<div class="container-outline" *ngIf="getAppearanceOutline()">
			<div class="container-outline-start"></div>
			<div class="container-outline-gap"></div>
			<div class="container-outline-end"></div>
		</div>
		<div id="innerCol" class="o-container-content-item" fxLayoutAlign="{{ layoutAlign }}" fxLayout="column"
		 [class.fillLayout]="layoutFill">
			<ng-content></ng-content>
		</div>
	</div>
</div>