<div fxLayout="column" class="o-container" fxFill>
  <div *ngIf="hasHeader()" fxLayoutAlign="start center" class="o-container-title" layout-padding>
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span>{{ title | oTranslate }}</span>
  </div>
  <div id="innerCol" fxLayout="column" fxLayoutAlign="{{ layoutAlign }}" fxLayoutGap="{{ layoutGap }}"
    [class.o-container-gap]="hasHeader() || (elevation > 0 && elevation <= 12)" class="o-container-scroll o-scroll"
    fxFlex="grow">
    <ng-content></ng-content>
  </div>
</div>