@import 'node_modules/@angular/material/theming';

@mixin input-theme($theme) {
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  span.icon-btn{
    color: mat-color($foreground, icon);

    &.mat-disabled {
      color: mat-color($foreground, disabled-text);
    }
  }

  textarea:disabled,
  input:not([type]):disabled,
  input[type="color"]:disabled,
  input[type="date"]:disabled,
  input[type="datetime"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="email"]:disabled,
  input[type="month"]:disabled,
  input[type="password"]:disabled,
  input[type="number"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  input[type="text"]:disabled,
  input[type="time"]:disabled,
  input[type="url"]:disabled,
  input[type="week"]:disabled {
      color: mat-color($foreground, disabled-text);
  }

  .input-model.ng-invalid.ng-touched + md-form-field {

    .mat-input-placeholder,
    .mat-placeholder-required {
      color: mat-color($warn);
    }

    .mat-input-underline .mat-input-ripple {
      visibility: visible;
      transform: scaleX(1);
      transition: transform ($swift-ease-in-duration/2) linear,background-color $swift-ease-in-duration $swift-ease-in-timing-function;
    }
  }


  .input-model.ng-invalid.ng-touched + md-form-field,
  md-form-field.ng-invalid.ng-touched  {

    .mat-input-wrapper {
      .mat-input-underline {
        border-top-color: mat-color($warn);
        .mat-input-ripple {
          background-color: mat-color($warn);
        }
      }
      .mat-input-placeholder.mat-focused {
        color: mat-color($warn);
      }
      .mat-hint {
        color: mat-color($warn);
      }
    }

  }

}



