@import 'node_modules/@angular/material/theming';
@mixin input-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);
  $underline-color: mat-color($foreground, divider, if($is-dark-theme, 0.7, 0.42));

  .mat-form-field {
    &:not(.mat-form-field-disabled) {
      .icon-btn,
      .mat-icon,
      .read-only .mat-icon,
      .svg-icon {
        color: mat-color($foreground, icon);
      }
    }

    .mat-disabled {
      color: mat-color($foreground, disabled-button);
    }

    &.read-only {
      .mat-select-disabled .mat-select-value {
        color: inherit;
      }

      .mat-form-field-underline {
        background-color: $underline-color;
      }
    }
  }

  input:not([type]):disabled,
  input[type="color"]:disabled,
  input[type="date"]:disabled,
  input[type="datetime"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="email"]:disabled,
  input[type="month"]:disabled,
  input[type="number"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  input[type="text"]:disabled,
  input[type="time"]:disabled,
  input[type="url"]:disabled,
  input[type="week"]:disabled,
  textarea:disabled {
    color: mat-color($foreground, disabled-text);
  }
}
