/*@import 'ontimize/components/material/style/default-theme.scss';
@import 'ontimize/components/material/style/mixins.scss';
@import 'ontimize/components/material/style/variables.scss';*/



span.icon-btn{
  cursor: pointer;
  i {
    padding-top: 4px;
  }

  &.md-disabled {
    cursor: default;
  }
}
