@import 'node_modules/@angular/material/theming';
@mixin input-theme($theme) {
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  .mat-input-prefix.mat-form-field-prefix .mat-icon.material-icons,
  .mat-input-suffix.mat-form-field-suffix .mat-icon.material-icons,
  div.icon-btn,
  span.icon-btn {
    color: mat-color($foreground, icon);

    &.mat-disabled {
      color: mat-color($foreground, disabled-text);
    }
  }

  input:not([type]):disabled,
  input[type="color"]:disabled,
  input[type="date"]:disabled,
  input[type="datetime"]:disabled,
  input[type="datetime-local"]:disabled,
  input[type="email"]:disabled,
  input[type="month"]:disabled,
  input[type="number"]:disabled,
  input[type="password"]:disabled,
  input[type="search"]:disabled,
  input[type="tel"]:disabled,
  input[type="text"]:disabled,
  input[type="time"]:disabled,
  input[type="url"]:disabled,
  input[type="week"]:disabled,
  textarea:disabled {
    color: mat-color($foreground, disabled-text);
  }
}
