@import 'node_modules/@angular/material/theming';

@mixin o-combo-theme($theme) {
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  .mat-combo-container.ng-invalid.ng-touched {
    .mat-hint {
      color: mat-color($warn);
    }
  }
  .mat-select:focus:not(.mat-select-disabled).mat-warn .mat-select-underline,
  .mat-select-invalid .mat-select-underline {
      background-color: mat-color($warn)!important;
  }

  // Applies a floating placeholder above the form field control itself.
  @mixin _mat-form-field-placeholder-floating($font-scale, $infix-padding, $infix-margin-top) {
    // We use perspective to fix the text blurriness as described here:
    // http://www.useragentman.com/blog/2014/05/04/fixing-typography-inside-of-2-d-css-transforms/
    // This results in a small jitter after the label floats on Firefox, which the
    // translateZ fixes.
    transform: translateY(-$infix-margin-top - $infix-padding) scale($font-scale) perspective(100px)
              translateZ(0.001px);
    // The tricks above used to smooth out the animation on chrome and firefox actually make things
    // worse on IE, so we don't include them in the IE version.
    -ms-transform: translateY(-$infix-margin-top - $infix-padding)
    scale($font-scale);

    width: 100% / $font-scale;
  }

  $config: mat-typography-config();
  $line-height: mat-line-height($config, input);
  // The amount to scale the font for the floating label and subscript.
  $subscript-font-scale: 0.75;
  // The amount of space between the top of the line and the top of the actual text
  // (as a fraction of the font-size).
  $line-spacing: ($line-height - 1) / 2;
  // The padding on the infix. Mocks show half of the text size, but seem to measure from the edge
  // of the text itself, not the edge of the line; therefore we subtract off the line spacing.
  $infix-padding: 0.5em - $line-spacing;
  // The margin applied to the form-field-infix to reserve space for the floating label.
  $infix-margin-top: 1em * $line-height * $subscript-font-scale;

  .mat-select-placeholder {
    padding: 0;
    // The perspective helps smooth out animations on Chrome and Firefox but isn't needed on IE.
    transform: perspective(100px);
    -ms-transform: none;

    transform-origin: 0 0;
    transition: transform $swift-ease-out-duration $swift-ease-out-timing-function,
    color $swift-ease-out-duration $swift-ease-out-timing-function,
    width $swift-ease-out-duration $swift-ease-out-timing-function;

    // Show the placeholder above the control when it's not empty, or focused.
    &.mat-floating-placeholder {
      @include _mat-form-field-placeholder-floating($subscript-font-scale,
          $infix-padding, $infix-margin-top);
    }
  }

}




