.hidden {
  display: none !important;
}

.visible {
  display: inline-block;
}

.mat-combo-container {
  position: relative;

  .mat-hint {
    display: block;
    position: absolute;
    font-size: 75%;
    bottom: -1.5em;
    margin-top: 0.54166667em;
    top: calc(100% - 1.66666667em);
  }

  md-select {
    &.mat-combo {
      padding-top: 0px;
      padding-bottom: 1.25em;

      .mat-select-trigger {
        margin: 22px 0 0px 0px;
        height: 24px;

        .mat-select-placeholder.mat-floating-placeholder {
          top: -4px!important;
        }
        .mat-select-value{
          top: 0px;
          left: 0px;
        }
      }
    }

    &:focus:not(.mat-select-disabled) .mat-select-trigger {
      border-bottom-width: 2px;
    }
  }

}

.mat-tooltip {
  margin: 0px !important;
}