.hidden {
  display: none !important;
}

.visible {
  display: inline-block;
}

.mat-combo-container {
  position: relative;
}

md-select {
  &.mat-combo {
    .mat-select-trigger {
      margin: 16px 0 11px 0px;
      height: 23px;

      .mat-select-placeholder.mat-floating-placeholder {
        left: 0px;
        top: -20px;
      }
      .mat-select-value{
        top: 0px;
        left: 0px;
      }
    }
  }

  &:focus:not(.mat-select-disabled) .mat-select-trigger {
    border-bottom-width: 2px;
  }
}

.mat-tooltip {
  margin: 0px !important;
}