@import 'node_modules/@angular/material/theming';
@mixin o-combo-theme($theme) {
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  .mat-combo-container{
    &.ng-invalid.ng-touched {
        .mat-hint {
          color: mat-color($warn);
        }
      }
  }

}



