.o-image {
  display: flex;
  height: inherit;

  .o-image-content {
    position: relative;
    width: 100%;

    .o-image-form-field {
      width: 100%;

      .o-image-form-field-hidden {
        display: none !important;
      }

      .o-image-form-field-input {
        opacity: 0;
        outline: none;
        width: 0;
      }
    }

    .o-image-display-container {
      width: 100%;

      > img {
        height: 100%;
        width: 100%;
      }
    }

    &.o-image-auto-fit .o-image-display-container > img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      width: auto;
    }

    .read-only-blocker {
      left: 0;
      right: 0;
      position: absolute;
      top: 0;
      z-index: 2;
    }
  }
}
