<div fxLayout="column" fxLayoutAlign="center center" class="input-image relative" [formGroup]="getFormGroup()" [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition" [matTooltipShowDelay]="tooltipShowDelay">
  <div fxLayout="row" fxFill fxLayoutAlign="end center" class="input-image-container" layout-padding>
    <input matInput #inputControl [formControlName]="getAttribute()" type="text" [attr.id]="getAttribute()" [id]="getAttribute()"
      [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)" class="mat-input input-control">
    <input [hidden]="!hasControls()" class="mat-primary" #input type="file" (change)="fileChange(input)" class="input-file" />
    <label *ngIf="hasControls()" #titleLabel (click)="input.click()">{{ 'CHOOSE_FILE' | oTranslate }}</label>
    <span *ngIf="hasControls()" class="icon-btn" [class.mat-disabled]="isDisabled" (click)="input.click()"><i class="material-icons">search</i></span>
    <span *ngIf="hasControls()" class="icon-btn" [class.mat-disabled]="isDisabled" (click)="onClickClear($event)"><i class="material-icons">clear</i></span>
  </div>
  <div fxLayout="row" class="input-image-preview" fxLayoutAlign="center center">
    <img *ngIf="!(isEmpty())" [src]="getSrcValue()" alt="" (click)="input.click()" />
    <mat-icon class="empty-icon" [class.mat-disabled]="isDisabled" aria-label="empty image" *ngIf="useEmptyIcon()" (click)="input.click()">{{ emptyicon }}</mat-icon>
    <img [src]="getSrcValue()" alt="empty image" *ngIf="useEmptyImage()" (click)="input.click()" />
  </div>
  <div *ngIf="isReadOnly" fxFill class="read-only-blocker" (click)="onClickBlocker($event)"></div>
</div>
