
.input-image {

  .input-image-preview {
    z-index: 1;
    width: 150px;
    height: 150px;

    img{
      max-height: 100%;
      max-width: 100%;
    }

    .empty-icon {
      font-size: 8em;
      height: auto;
      width: auto;
      cursor: pointer;
      color: rgba(0,0,0,0.47);
      vertical-align: middle;

      &.mat-disabled {
        cursor: default;
        color: rgba(0, 0, 0, 0.26);
      }
    }

  }

  .input-image-container {
    z-index: 1;

    .input-file {
      outline: none;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .input-file + label {
      /* color: mat-color($mat-accent, 50);*/
      /* background-color: mat-color($mat-primary);*/
      /*display: inline-block;*/
      cursor: pointer;
      text-align: center;
      padding-top: 4px;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: rgba(0,0,0,0.38);
      width: 100%;
    }

/*
    .input-file:focus + label,
    .input-file + label:hover {
      background-color: mat-color($mat-primary);
    }
    */
  }
}

.input-control {
  display: none !important;
}

.read-only-blocker{
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
