<div layout="column" layout-align="center center" class="input-image relative" [formGroup]="form?.formGroup">
  <div layout="row" layout-fill layout-align="end center" class="input-image-container">
    <md-input #inputControl [formControlName]="oattr" type="text" [attr.id]="oattr" [id]="oattr"
      [ngModel]="getValue()" (ngModelChange)="innerOnChange($event)"
      class="md-input input-control" ></md-input>
    <input [hidden]="!showControls" class="md-primary" #input type="file"
      (change)="fileChange(input, label)" class="input-file" />
    <label *ngIf="showControls" #label (click)="input.click()">{{ 'CHOOSE_FILE' | oTranslate }}</label>
    <span *ngIf="showControls" class="icon-btn" (click)="input.click()"><i class="material-icons">search</i></span>
    <span *ngIf="showControls" class="icon-btn" (click)="onClickClear($event, label)"><i class="material-icons">clear</i></span>
  </div>
  <div layout="row" class="input-image-preview" layout-align="center center">
    <img *ngIf="!(isEmpty())"
      [src]="getSrcValue()"
      alt="" (click)="input.click()" />
    <md-icon aria-label="empty image" *ngIf="isEmpty()" (click)="input.click()">photo</md-icon>
  </div>
  <div *ngIf="isReadOnly" layout-fill class="read-only-blocker" (click)="onClickBlocker($event)" ></div>
</div>

<!--(ngModelChange)="innerOnChange($event)"-->