.o-list-item {
  .row-buttons-container {
    .o-list-row-action {
      height: 24px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.mat-list {
  .mat-checkbox-inner-container {
    margin: 0;
  }
  &[dense] .o-list-item {
    .o-list-row-action {
      .mat-checkbox-inner-container {
        height: 16px;
        width: 16px;
        margin: 0;
      }
    }
  }
}
